
<!-- ======= Header ======= -->
<header id="header" class="fixed-top services_header">
  <div class="container d-flex align-items-center">
    <h1 class="logo mr-auto"><a routerLink="/home" > <img src="assets/img/logo.png" class="img-fluid" alt=""></a></h1>
    <nav class="nav-menu d-none d-lg-block">
      <ul>
        <li><a routerLink="/home" >Home</a></li>
        <li><a routerLink="/services" >Services</a></li>
        <li><a routerLink="/faq" >FAQ</a></li>
        <!--<li><a href="login.html">Log in/Sign Up</a></li>-->
        
        <!--  <li class="drop-down"><a href="">Drop Down</a>
            <ul>
              <li><a href="#">Drop Down 1</a></li>
              <li class="drop-down"><a href="#">Deep Drop Down</a>
                <ul>
                  <li><a href="#">Deep Drop Down 1</a></li>
                  <li><a href="#">Deep Drop Down 2</a></li>
                  <li><a href="#">Deep Drop Down 3</a></li>
                  <li><a href="#">Deep Drop Down 4</a></li>
                  <li><a href="#">Deep Drop Down 5</a></li>
                </ul>
              </li>
              <li><a href="#">Drop Down 2</a></li>
              <li><a href="#">Drop Down 3</a></li>
              <li><a href="#">Drop Down 4</a></li>
            </ul>
          </li>-->
        
      </ul>
    </nav>
    <!-- .nav-menu --> 
    
    <!-- <a href="login.html" class="get-started-btn">Log in/Sign Up</a> --></div>
</header>
<main id="main">
    <section id="services" class="services">
      <div class="container aos-init aos-animate" data-aos="fade-up">
        <div class="section-title"><br>
          <h2>Careers</h2>
        </div>
        <div class="row">
          <div class="col-lg-6 col-md-6 aos-init aos-animate" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box" style="text-align: left;">
              <h4><a href=""><strong>Account Specialist</strong> (Kerala, India)</a></h4>
              <p>Eligibility  : Masters in Accounting<br>
                Experience  : 5 Years</p>
              <br>
              <div class="red">Curriently Unavailable</div>
              <div style="text-align: right">
                <p>Posted  : 1 Day Ago</p>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 aos-init aos-animate" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box" style="text-align: left;">
              <h4><a href=""><strong>Faculty</strong> (Kerala, India)</a></h4>
              <p>Eligibility  : Bachelars Degree<br>
                Experience  : 3 Years</p>
              <a href="#"> <br>
              <div class="green">Apply Now</div>
              </a>
              <div style="text-align: right">
                <p>Posted  : 3 Day Ago</p>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 aos-init aos-animate" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box" style="text-align: left;">
              <h4><a href=""><strong> Specialist</strong></a></h4>
              <p>Eligibility  : Masters in Accounting<br>
                Experience  : 5 Years</p>
              <br>
              <div class="red">Curriently Unavailable</div>
              <div style="text-align: right">
                <p>Posted  : 1 Week Ago</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>