
<!-- ======= Header ======= -->
<header id="header" class="fixed-top services_header">
    <div class="container d-flex align-items-center">
      <h1 class="logo mr-auto"><a routerLink="/home" > <img src="assets/img/logo.png" class="img-fluid" alt=""></a></h1>
      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li><a routerLink="/home" >Home</a></li>
          <li><a routerLink="/services" >Services</a></li>
          <li class="active"><a routerLink="/faq" >FAQ</a></li>
          <!--<li><a href="login.html">Log in/Sign Up</a></li>-->
          
          <!--  <li class="drop-down"><a href="">Drop Down</a>
              <ul>
                <li><a href="#">Drop Down 1</a></li>
                <li class="drop-down"><a href="#">Deep Drop Down</a>
                  <ul>
                    <li><a href="#">Deep Drop Down 1</a></li>
                    <li><a href="#">Deep Drop Down 2</a></li>
                    <li><a href="#">Deep Drop Down 3</a></li>
                    <li><a href="#">Deep Drop Down 4</a></li>
                    <li><a href="#">Deep Drop Down 5</a></li>
                  </ul>
                </li>
                <li><a href="#">Drop Down 2</a></li>
                <li><a href="#">Drop Down 3</a></li>
                <li><a href="#">Drop Down 4</a></li>
              </ul>
            </li>-->
          
        </ul>
      </nav>
      <!-- .nav-menu --> 
      
      <!-- <a href="login.html" class="get-started-btn">Log in/Sign Up</a> --></div>
  </header>
  <!-- End Header -->
    <section id="about-video" class="about-video">
      <div class="container aos-init aos-animate" data-aos="fade-up">
        <div class="section-title mt-5">
          <h2>Frequently Asked Questions and Answers</h2>
          <p><a  routerLink="/faq-malayalam" >View in Malayalam</a></p>
        </div>
        <div class="row">
          <section id="faq" class="faq section-bg">
            <div class="container aos-init aos-animate" data-aos="fade-up">
              <h3 align="center">About Account Management Services: </h3>
              <div class="faq-list">
                <ul>
                  <li data-aos="fade-up"> <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" class="collapse" href="#faq-list-1">What is an Account Management Service? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                    <div id="faq-list-1" class="collapse show" data-parent=".faq-list">
                      <p> AMS is a service where a financial advisory company advises its clients on the securities that
                        should be invested in. </p>
                    </div>
                  </li>
                  <li data-aos="fade-up" data-aos-delay="100"> <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" href="#faq-list-2" class="collapsed">What is a Demat account?<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                    <div id="faq-list-2" class="collapse" data-parent=".faq-list">
                      <p>Demat account is an account to hold financial securities in electronic form. </p>
                    </div>
                  </li>
                  <li data-aos="fade-up" data-aos-delay="200"> <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" href="#faq-list-3" class="collapsed">What is an Investment plan?<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                    <div id="faq-list-3" class="collapse" data-parent=".faq-list">
                      <p> An investment plan is where an investment advisor analyzes the clients' financial needs and
                        create an investment plan based on the income of the client. </p>
                    </div>
                  </li>
                  <li data-aos="fade-up" data-aos-delay="300"> <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" href="#faq-list-4" class="collapsed">What are the different types of Investment? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                    <div id="faq-list-4" class="collapse" data-parent=".faq-list">
                      <p> Fixed deposit, mutual funds, real estate, securities. </p>
                    </div>
                  </li>
                  <li data-aos="fade-up" data-aos-delay="400"> <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" href="#faq-list-5" class="collapsed">Who all should Invest? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                    <div id="faq-list-5" class="collapse" data-parent=".faq-list">
                      <p> Anyone who wants to achieve financial freedom. </p>
                    </div>
                  </li>
                  <li data-aos="fade-up" data-aos-delay="500"> <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" href="#faq-list-6" class="collapsed">Who can give you Investment advice? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                    <div id="faq-list-6" class="collapse" data-parent=".faq-list">
                      <p> NISM Certified Investment Advisor. </p>
                    </div>
                  </li>
                  <li data-aos="fade-up" data-aos-delay="600"> <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" href="#faq-list-7" class="collapsed">What type of Investment is Portfolio Investment?<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                    <div id="faq-list-7" class="collapse" data-parent=".faq-list">
                      <p> Investing in a different type of securities to create a balance ROI. </p>
                    </div>
                  </li>
                  <li data-aos="fade-up" data-aos-delay="700"> <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" href="#faq-list-8" class="collapsed">What should you know to make a Portfolio Investment? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                    <div id="faq-list-8" class="collapse" data-parent=".faq-list">
                      <p> Know the assets and sectors in which you are investing, risk, and returns involved in each of the
                        investments. </p>
                    </div>
                  </li>
                  <li data-aos="fade-up" data-aos-delay="800"> <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" href="#faq-list-9" class="collapsed">What is MaverixPro Ltd? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                    <div id="faq-list-9" class="collapse" data-parent=".faq-list">
                      <p> Enabling the present and the future generation to understand and explore the FinTech Industry,
                        MaverixPro Ltd. focuses on both the affordable study as well as the finest practices of
                        various financial tools that enable an individual to conquer the dream of financial stability. </p>
                    </div>
                  </li>
                  <li data-aos="fade-up" data-aos-delay="900"> <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" href="#faq-list-10" class="collapsed"> Why MaverixPro Ltd? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                    <div id="faq-list-10" class="collapse" data-parent=".faq-list">
                      <p> With competitive brokerage and a 100% transparency, we established trustworthiness and
                        helped a lot of our customers to attain financial security. With an intense study of the market
                        and research, our experts formulated exclusive solutions that fit your need. Our team niche
                        boutique Financial Advisory is brainiacs who will not only manage your financial requirements
                        but carefully understand, sort out, and mitigate risks to keep your company growing. </p>
                    </div>
                  </li>
                  <li data-aos="fade-up" data-aos-delay="1000"> <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" href="#faq-list-11" class="collapsed">What is our vision? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                    <div id="faq-list-11" class="collapse" data-parent=".faq-list">
                      <p> To build a financially empowered workforce across the world through our exceptional services
                        across different platforms. </p>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </section>
          <section id="faq" class="faq section-bg">
            <div class="container aos-init aos-animate" data-aos="fade-up">
              <h3 align="center">About Demat Account Opening and Service</h3>
              <div class="faq-list">
                <ul>
                  <li data-aos="fade-up"> <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" class="collapse" href="#faq-list-1"> What documents do you require for KYC ? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                    <div id="faq-list-1" class="collapse show" data-parent=".faq-list">
                      <p>1. Aadhaar Card<br>
                        2. PAN Card<br>
                        3. Mobile no: (Aadhaar linked)<br>
                        <strong>IMPORTANT :</strong> Mobile Number and Aadhaar Card must be LINKED. </p>
                    </div>
                  </li>
                  <li data-aos="fade-up" data-aos-delay="100"> <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" href="#faq-list-2" class="collapsed">After submitting all the documents, how many days will it take for the account to be active ? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                    <div id="faq-list-2" class="collapse" data-parent=".faq-list">
                      <p>If all the documents are valid and if the mobile no is linked to Aadhaar Card then the account
                        opening service will finish the SAME DAY. </p>
                    </div>
                  </li>
                  <li data-aos="fade-up" data-aos-delay="200"> <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" href="#faq-list-3" class="collapsed">Is there any account opening charges ?<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                    <div id="faq-list-3" class="collapse" data-parent=".faq-list">
                      <p>NO, it is completely free. </p>
                    </div>
                  </li>
                  <li data-aos="fade-up" data-aos-delay="300"> <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" href="#faq-list-4" class="collapsed">What is the product ?<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                    <div id="faq-list-4" class="collapse" data-parent=".faq-list">
                      <p>MaverixPro Ltd is providing Financial Advisory service and Sub-Brokership. We have a
                        well-experienced research team that has researched and created a portfolio of 26 companies
                        and after analyzing their performance of the past 5 years we have forecasted growth and have
                        developed our proprietary strategy around it. So, we help customers make smarter and less
                        risky investments that will eventually grow their wealth. </p>
                    </div>
                  </li>
                  <li data-aos="fade-up" data-aos-delay="400"> <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" href="#faq-list-5" class="collapsed">What is the difference between the two packages (Rs. 5000/- and Rs. 50000/-) ? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                    <div id="faq-list-5" class="collapse" data-parent=".faq-list">
                      <p> Beginners plan is a portfolio of around 10+ companies whose 1 unit of stock would add up to
                        Rs.5000 whereas in the value pack is a portfolio of 26 companies whose 1-unit share would cost
                        around Rs.50000. </p>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </section>
          <section id="faq" class="faq section-bg">
            <div class="container aos-init aos-animate" data-aos="fade-up">
              <h3 align="center">General Questions </h3>
              <div class="faq-list">
                <ul>
                  <li data-aos="fade-up"> <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" class="collapse" href="#faq-list-1"> Do I need to know about the trading & share market for starting this Investment? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                    <div id="faq-list-1" class="collapse show" data-parent=".faq-list">
                      <p>Absolutely NO. </p>
                    </div>
                  </li>
                  <li data-aos="fade-up" data-aos-delay="100"> <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" href="#faq-list-2" class="collapsed">Is my capital at risk? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                    <div id="faq-list-2" class="collapse" data-parent=".faq-list">
                      <p>Your capital will not be used for trading leveraged products. Capital will only be used to buy
                        stocks of the companies in our portfolio; hence the customer will be a shareholder of all these
                        companies and the capital invested would gain value in the long run. </p>
                    </div>
                  </li>
                  <li data-aos="fade-up" data-aos-delay="200"> <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" href="#faq-list-3" class="collapsed">How much do MaverixPro Ltd. charge?<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                    <div id="faq-list-3" class="collapse" data-parent=".faq-list">
                      <p> MaverixPro Ltd. is a sub-broker under the broking house called Angel Broking and MaverixPro
                        Ltd. charges its financial advisory services at 1% of the traded value which would be charged
                        automatically through the brokerage itself. The customer doesn’t have to give any sorts of extra
                        payments to MaverixPro Ltd. </p>
                    </div>
                  </li>
                  <li data-aos="fade-up" data-aos-delay="300"> <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" href="#faq-list-4" class="collapsed">Will there be any applicable hidden charges ?<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                    <div id="faq-list-4" class="collapse" data-parent=".faq-list">
                      <p> Absolutely NO. </p>
                    </div>
                  </li>
                  <li data-aos="fade-up" data-aos-delay="400"> <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" href="#faq-list-5" class="collapsed">When can I withdraw my money ? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                    <div id="faq-list-5" class="collapse" data-parent=".faq-list">
                      <p> ANYTIME. MaverixPro Ltd. will not be holding customer’s funds. It will be in their own Demat
                        Account. MaverixPro Ltd. has permission only to buy and sell company stocks on behalf of the
                        customer so any amount invested by the customer will be under the control of the customer
                        the whole time. </p>
                    </div>
                  </li>
                  <li data-aos="fade-up" data-aos-delay="500"> <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" href="#faq-list-6" class="collapsed">Is this product similar to a Mutual fund ? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                    <div id="faq-list-6" class="collapse" data-parent=".faq-list">
                      <p> NO. MaverixPro Ltd is a financial advisory company offering financial advisory and
                        sub-brokership. We don't handle any funds of the customer whereas in a mutual fund a fund
                        manager holds the customer’s funds and invests it in his portfolio. </p>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </section>
         
          <section id="faq" class="faq section-bg">
            <div class="container aos-init aos-animate" data-aos="fade-up">
              <h3 align="center">Company Unique Selling Proposition (USP) </h3>
              <div class="faq-list">
                <ul>
                    <li data-aos="fade-up" data-aos-delay="500"> <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" href="#faq-list-6" class="collapsed">Why MaverixPro Limited ? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                        <div id="faq-list-6" class="collapse" data-parent=".faq-list">
                          <p>Combined experience of 15 years in the Indian financial market, the research team is skilled with fundamental &amp;
                            technical analysis. The members of the team hold certificates like CFTe, MBA, NiSM, GFMP and Bloomberg Market
                            Concepts. </p>
                            <ul>
                                <li class="faqli"><i class="bx bx-check-double"></i>Competitive brokerage.
                                    No account opening charges.</li>
                                <li class="faqli"><i class="bx bx-check-double"></i>No AMC (Annual maintenance charge) for first year.</li>
                                <li class="faqli"><i class="bx bx-check-double"></i>Daily, Weekly, and special report on stocks, commodities, and currencies market.Solving financial market related queries like in commodity, FX, and Stocks.No AMC (Annual maintenance charge) for first year.</li>
                                <li class="faqli"><i class="bx bx-check-double"></i>Webinar on various topics of trading.</li>
                                <li class="faqli"><i class="bx bx-check-double"></i> Advising about stocks to each client on daily basis.</li>
                            </ul>
                        </div>
                      </li>
                    <li data-aos="fade-up" data-aos-delay="500">  <a data-toggle="collapse" href="#faq-list-6" class="collapsed">We are open to answer any question that you have. <strong></strong>
                    </a>
                      </li>
                </ul>
              </div>
            </div>
          </section>