<!-- ======= Header ======= -->
<header id="header" *ngIf="!_router.isActive('/enquiry', true)" class="fixed-top ">
    <div class="container d-flex align-items-center">
      <h1 class="logo mr-auto"><a routerLink="/home" > <img src="assets/img/logo.png" class="img-fluid" alt=""></a></h1>
      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="active"><a routerLink="/home" >Home</a></li>
          <li><a routerLink="/services" >Services</a></li>
          <li><a routerLink="/faq" >FAQ</a></li>
          <!--<li><a href="login.html">Log in/Sign Up</a></li>-->
          
          <!--  <li class="drop-down"><a href="">Drop Down</a>
              <ul>
                <li><a href="#">Drop Down 1</a></li>
                <li class="drop-down"><a href="#">Deep Drop Down</a>
                  <ul>
                    <li><a href="#">Deep Drop Down 1</a></li>
                    <li><a href="#">Deep Drop Down 2</a></li>
                    <li><a href="#">Deep Drop Down 3</a></li>
                    <li><a href="#">Deep Drop Down 4</a></li>
                    <li><a href="#">Deep Drop Down 5</a></li>
                  </ul>
                </li>
                <li><a href="#">Drop Down 2</a></li>
                <li><a href="#">Drop Down 3</a></li>
                <li><a href="#">Drop Down 4</a></li>
              </ul>
            </li>-->
          
        </ul>
      </nav>
      <!-- .nav-menu --> 
      
      <!-- <a href="login.html" class="get-started-btn">Log in/Sign Up</a> --></div>
  </header>
  <!-- End Header --> 