
  <!-- ======= Footer ======= -->
  <footer id="footer" *ngIf="!_router.isActive('/enquiry', true)">
    <div class="section footer mb-0" style="background-position-x: -331.5px;"> 
      
      <!-- ======= Hero Section ======= -->
      <div class="container position-relative" data-aos="fade-up" data-aos-delay="100">
        <div class="row justify-content-center">
          <div class="col-xl-9 col-lg-9 mt-5 footertop_marg">
            <h1 class="wit">Work with us</h1>
            <p class="wit">MaverixPro Ltd can be a great place for you.</p>
          </div>
          <div class="col-xl-3 col-lg-3"> </div>
        </div>
        <div class=""> <a  routerLink="/careers"  class="btn_more">Join our team</a> </div>
        <div class="col-lg-12 col-md-12 footer-contact"> <img src="assets/img/assets/Group -1.svg" class="img-fluid mt-5" alt="">
          <p class="wit"> 2nd Floor,<br>
            Hilite Business Park<br>
            Calicut, Kerala <br>
            <br>
            <strong>For details, call:</strong> <a href="https://wa.me/18005727369?text=I'm%20interested%20in%20your%20car%20for%20sale" class=""> 1800 57 27 369 </a> <br>
            <strong>Email:</strong> <a href="mailto:connect@maverixpro.com">connect@maverixpro.com</a><br>
          </p>
        </div>
      </div>
      <div class="container copyright pt-5 pb-5">
        <div class="row">
          <div class="col-12 text-center">
            <h5 class="mb-0 wit">Follow us</h5>
            <br>
            <a href="https://www.facebook.com/Maverixpro" target="_blank" class=""> <img src="assets/img/assets/fb.svg" class="img-fluid  m-auto socialimg " alt=""> </a> <a href="https://www.instagram.com/maverixpro2020/?hl=en" target="_blank" class=""> <img src="assets/img/assets/insta.svg" class="img-fluid  m-auto socialimg" alt=""> </a> <a href="https://twitter.com/maverixprol" target="_blank" class=""> <img src="assets/img/assets/twitter.svg" class="img-fluid  m-auto socialimg" alt=""> </a> <a href="https://www.linkedin.com/company/maverixpro" target="_blank" class=""> <img src="assets/img/assets/linkedin.svg" class="img-fluid  m-auto socialimg " alt=""> </a> <a href="https://www.youtube.com/channel/UC4G4kWdhjy8uIsyQAOMLUkg" target="_blank" class=""> <img src="assets/img/assets/Youtube.svg" class="img-fluid  m-auto socialimg" alt=""> </a> </div>
        </div>
      </div>
    </div>
  </footer>
  <div class="footer_lin"  *ngIf="!_router.isActive('/enquiry', true)">
    <ul>
      <li><a href="/terms" > Terms & Conditions</a></li>
            <li><a href="/privacy" > Privacy Policy</a></li>
            <li><a href="/return" > Return, Refund and Cancellation policy</a></li>
            <li><a href="/disclaimer" > Disclaimer</a></li>
  <li> © 2020 MaverixPro Ltd. All Rights Reserved.</li>  </ul>
  </div>
  <!-- End Footer --> 
  
      
  <!-- Modal 2-->
  <div id="myModal" class="modal fade" role="dialog">
       <div class="modal-dialog">
          <div class="registration-form">
                   
  
          <form>
             <h5 align="center">Alpha</h5>
              <div class="form-group">
                  <input type="text" class="form-control item" id="Name" placeholder="Name" required="">
              </div>
              <div class="form-group">
                  <input type="password" class="form-control item" id="password" placeholder="Phone" required="">
              </div>
              <div class="form-group">
                  <input type="email" class="form-control item" id="password" placeholder="Email" required="">
              </div>
              <div class="form-group">
                  <button type="button" class="btn btn-block create-account">Make Enquiry</button>
              </div>
          </form>
        
      </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
    </div>
  </div>
  <!-- Modal 2-->
  <div id="myModal2" class="modal fade" role="dialog">
       <div class="modal-dialog">
          <div class="registration-form">
         
          <form><h5 align="center">Beta</h5>
              <div class="form-group">
                  <input type="text" class="form-control item" id="Name" placeholder="Name" required="">
              </div>
              <div class="form-group">
                  <input type="password" class="form-control item" id="password" placeholder="Phone" required="">
              </div>
              <div class="form-group">
                  <input type="email" class="form-control item" id="password" placeholder="Email" required="">
              </div>
              <div class="form-group">
                  <button type="button" class="btn btn-block create-account">Make Enquiry</button>
              </div>
          </form>
        
      </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
    </div>
  </div>
  
  <!-- Modal 3-->
  <div id="myModal3" class="modal fade" role="dialog">
       <div class="modal-dialog">
          <div class="registration-form">
         
          <form><h5 align="center">Gamma</h5>
              <div class="form-group">
                  <input type="text" class="form-control item" id="Name" placeholder="Name" required="">
              </div>
              <div class="form-group">
                  <input type="password" class="form-control item" id="password" placeholder="Phone" required="">
              </div>
              <div class="form-group">
                  <input type="email" class="form-control item" id="password" placeholder="Email" required="">
              </div>
              <div class="form-group">
                  <button type="button" class="btn btn-block create-account">Make Enquiry</button>
              </div>
          </form>
        
      </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
    </div>
  </div>
  