

<!-- Hero Section End -->
<section class="set-bg2" style="padding: 0px; !important">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 callus">
        <p>Call Us : 1800 57 27 369<br>
          www.maverixpro.com</p>
      </div>
    </div>
    <div class="container pb-5">
      <div class="row">
        <div class="col-lg-3">
          <div class="col-lg-12">
            <div class="icon-box icon-box_two text-center planimg">
              <h4 class="title">Beginner's Pack</h4>
              <div class="icon"><img src="../../assets/img/img/Beginner_flag.svg" style="width: 70px !important;" class="img-fluid" alt=""></div>
              <h2 class="prize_title">INR.5,000<span style="font-size: 14px;">Per unit</span></h2>
              <p class="title">Share of 10 companies.</p>
            </div>
          </div>
          <div class="col-lg-12">
            <div class="icon-box icon-box_two text-center planimg">
              <h4 class="title">Value Pack</h4>
              <div class="icon"><img src="../../assets/img/img/Diamond.svg" style="width: 70px !important;"  class="img-fluid" alt=""></div>
              <h2 class="prize_title">INR.50,000<span style="font-size: 14px;">Per unit</span></h2>
              <p class="title">Share of
                26 companies.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-8 offset-lg-1"> <img src="../../assets/img/img/logo.png" alt=""/>
          <div class="col-lg-12">
            <table>
              <tbody>
                <tr>
                  <td><i class="fa fa-long-arrow-right"></i> Investments are made in a selected basket of shares of promising companies.<br>
                    <strong style="padding-left: 40px;">i.</strong> Value Pack is a basket comprising 1 share each of 26 selected companies.<br>
                    <strong style="padding-left: 40px;">ii.</strong> Beginners Pack is a basket comprising 1 share each of 10 selected companies.</td>
                </tr>
                <tr>
                  <td><i class="fa fa-long-arrow-right"></i> The shares, bought with a foresight of three months, are expected to have a growth rate of 15-20% per annum. (1-2.5% growth/month).</td>
                </tr>
                <tr>
                  <td><i class="fa fa-long-arrow-right"></i> The investor is free to withdraw the amount invested in his/her Demat account anytime.</td>
                </tr>
                <tr>
                  <td><i class="fa fa-long-arrow-right"></i> Before a buy or sell, the Maverix Team communicates with the investor.</td>
                </tr>
                <tr>
                  <td><i class="fa fa-long-arrow-right"></i> The investments are SEBI approved, responsibly complying with all the prevailing laws.</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col-lg-12 mt-5">
            <p><strong>For more detils</strong></p>
            <form  id="myForm" action="#" class="contact-form">
              <div class="row">
                <div class="col-lg-4">
                  <input id="myName" name="name" type="text" placeholder="Your Name" required>
                </div>
                <div class="col-lg-4">
                  <input id="myNumber" name="number" type="text" placeholder="Mobile Number" required>
                </div>
                <div class="col-lg-4">
                  <input id="myEmail" name="email" type="email" placeholder="Your Email" required>
                </div>
                <div class="col-lg-12 m-auto">
<div class="col-lg-4 m-auto">
                </div>                
                <div class="col-lg-4 m-auto">
                   <input class="button" id="myBtn" type="submit" value="Go">
                </div>
                <div class="col-lg-4 m-auto">
                </div></div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

	

<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content m-auto">
    <span class="close">&times;</span>
    <h3 align="center">Thank you </h3>
    <p align="center">Your message has been received, we will update you shortly</p>
  </div>

</div>

<script>
// Get the modal
var modal = document.getElementById("myModal");

// Get the button that opens the modal
var btn = document.getElementById("myBtn");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks the button, open the modal 
btn.onclick = function() {
  modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
  modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}
</script>



<script>
	
	window.addEventListener( "load", function () {
  function sendData() {
    const XHR = new XMLHttpRequest();
	 
    // Bind the FormData object and the form element
    const FD = new FormData( form );

    // Define what happens on successful data submission
    XHR.addEventListener( "load", function(event) {
      alert( event.target.responseText );
    } );

    // Define what happens in case of error
    XHR.addEventListener( "error", function( event ) {
      alert( 'Oops! Something went wrong.' );
    } );

    // Set up our request
    XHR.open( "POST", "https://example.com/cors.php" );

    // The data sent is what the user provided in the form
    XHR.send( FD );
  }
 
  // Access the form element...
  const form = document.getElementById( "myForm" );

  // ...and take over its submit event.
  form.addEventListener( "submit", function ( event ) {
    event.preventDefault();

    sendData();
  } );
} );
	</script>
