
<!-- ======= Header ======= -->
<header id="header" class="fixed-top services_header">
    <div class="container d-flex align-items-center">
      <h1 class="logo mr-auto"><a routerLink="/home" > <img src="assets/img/logo.png" class="img-fluid" alt=""></a></h1>
      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li><a routerLink="/home" >Home</a></li>
          <li><a routerLink="/services" >Services</a></li>
          <li class="active"><a routerLink="/faq" >FAQ</a></li>
          <!--<li><a href="login.html">Log in/Sign Up</a></li>-->
          
          <!--  <li class="drop-down"><a href="">Drop Down</a>
              <ul>
                <li><a href="#">Drop Down 1</a></li>
                <li class="drop-down"><a href="#">Deep Drop Down</a>
                  <ul>
                    <li><a href="#">Deep Drop Down 1</a></li>
                    <li><a href="#">Deep Drop Down 2</a></li>
                    <li><a href="#">Deep Drop Down 3</a></li>
                    <li><a href="#">Deep Drop Down 4</a></li>
                    <li><a href="#">Deep Drop Down 5</a></li>
                  </ul>
                </li>
                <li><a href="#">Drop Down 2</a></li>
                <li><a href="#">Drop Down 3</a></li>
                <li><a href="#">Drop Down 4</a></li>
              </ul>
            </li>-->
          
        </ul>
      </nav>
      <!-- .nav-menu --> 
      
      <!-- <a href="login.html" class="get-started-btn">Log in/Sign Up</a> --></div>
  </header>
  <main id="main"> 
  
    <!-- ======= Services Section ======= -->
    <section id="hero_services" class="align-items-center">
      <div class="container" data-aos="fade-up" data-aos-delay="100">
        <div class="clearfix"></div>
        <div class="text-center clearfix">
          <h2>Open DEMAT Account</h2>
          <br>
          <br>
        </div>
        <div class="row icon-boxes">
          <div class="col-lg-12 mt-5 mt-lg-0">
            <form action="" method="post" role="form" class="php-email-form">
              <div class="form-row">
                <div class="col-md-6 form-group">
                  <label for="myfile">PAN Number:</label>
                  <br>
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your PAN Number" data-rule="minlen:4" data-msg="Please enter at least 4 chars">
                  <div class="validate"></div>
                </div>
                <div class="col-md-6 form-group">
                  <label for="myfile">Upload PAN :</label>
                  <br>
                  <input type="file" id="myfile" name="myfile">
                  <div class="validate"></div>
                </div>
              </div>
              <div class="form-row">
                <div class="col-md-6 form-group">
                  <label for="myfile">Aadhaar Number:</label>
                  <br>
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Aadhaar Number" data-rule="minlen:4" data-msg="Please enter at least 4 chars">
                  <div class="validate"></div>
                </div>
                <div class="col-md-6 form-group">
                  <label for="myfile">Upload Aadhaar :</label>
                  <br>
                  <input type="file" id="myfile" name="myfile">
                  <div class="validate"></div>
                </div>
              </div>
              <div class="form-row">
                <div class="col-md-6 form-group">
                  <label for="myfile">Aadhaar Password :</label>
                  <br>
                  <input type="text" name="name" class="form-control" id="name" placeholder="Aadhaar Password" data-rule="minlen:4" data-msg="Please enter at least 4 chars">
                  <div class="validate"></div>
                </div>
                <div class="col-md-6 form-group">
                  <label for="myfile">Phone Number (Aadhaar linked):</label>
                  <br>
                  <input type="text" name="name" class="form-control" id="name" placeholder="Phone Number" data-rule="minlen:4" data-msg="Please enter at least 4 chars">
                  <div class="validate"></div>
                </div>
              </div>
              <div class="form-row">
                <div class="col-md-6 form-group">
                  <label for="myfile">Email ID :</label>
                  <br>
                  <input type="text" name="name" class="form-control" id="name" placeholder="Email id" data-rule="minlen:4" data-msg="Please enter at least 4 chars">
                  <div class="validate"></div>
                </div>
                <div class="col-md-6 form-group">
                  <label for="myfile">Mothers name :</label>
                  <br>
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Mothers name" data-rule="minlen:4" data-msg="Please enter at least 4 chars">
                  <div class="validate"></div>
                </div>
              </div>
              <div class="form-row">
                <div class="col-md-12 form-group">
                  <label for="myfile">6 Month bank statement / Name prited cheque / Passbook:</label>
                  <br>
                  <input type="file" id="myfile" name="myfile">
                  <div class="validate"></div>
                </div>
                <div class="col-md-12 form-group">
                  <label for="myfile">Upload Photo:</label>
                  <br>
                  <input type="file" id="myfile" name="myfile">
                  <div class="validate"></div>
                </div>
                <div class="col-md-12 form-group">
                  <label for="myfile">10sec Selfie video:</label>
                  <br>
                  <input type="file" id="myfile" name="myfile">
                  <div class="validate"> <a href="#" class=""><i class="ri-video-fill"></i> Or Record Video</a> </div>
                </div>
              </div>
              <br>
              <br>
              <br>
              <div class="form-row">
                <div class="col-md-4 form-group">
                  <label for="myfile">Nominee name :</label>
                  <br>
                  <input type="text" name="name" class="form-control" id="name" placeholder="Nominee name " data-rule="minlen:4" data-msg="Please enter at least 4 chars">
                  <div class="validate"></div>
                </div>
                <div class="col-md-4 form-group">
                  <label for="myfile">DOB :</label>
                  <br>
                  <input type="text" name="name" class="form-control" id="name" placeholder="Date of birth" data-rule="minlen:4" data-msg="Please enter at least 4 chars">
                  <div class="validate"></div>
                </div>
                <div class="col-md-4 form-group">
                  <label for="myfile">Relationship :</label>
                  <br>
                  <input type="text" name="name" class="form-control" id="name" placeholder="Relationship" data-rule="minlen:4" data-msg="Please enter at least 4 chars">
                  <div class="validate"></div>
                </div>
              </div>
              <div  class="text-center">
                <button class="btn-get-started btn_more ">SUBMIT</button>
              </div>
            </form>
          </div>
          <div class="col-md-6 col-lg-6" data-aos="zoom-in" data-aos-delay="400"> </div>
          <div class="col-md-6 col-lg-6" data-aos="zoom-in" data-aos-delay="400"> </div>
        </div>
      </div>
    </section>
    <!-- End Sevices Section --> 
    
  </main>