
<!-- ======= Header ======= -->
<header id="header" class="fixed-top services_header">
    <div class="container d-flex align-items-center">
      <h1 class="logo mr-auto"><a routerLink="/home" > <img src="assets/img/logo.png" class="img-fluid" alt=""></a></h1>
      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li><a routerLink="/home" >Home</a></li>
          <li><a routerLink="/services" >Services</a></li>
          <li class="active"><a routerLink="/faq" >FAQ</a></li>
          <!--<li><a href="login.html">Log in/Sign Up</a></li>-->
          
          <!--  <li class="drop-down"><a href="">Drop Down</a>
              <ul>
                <li><a href="#">Drop Down 1</a></li>
                <li class="drop-down"><a href="#">Deep Drop Down</a>
                  <ul>
                    <li><a href="#">Deep Drop Down 1</a></li>
                    <li><a href="#">Deep Drop Down 2</a></li>
                    <li><a href="#">Deep Drop Down 3</a></li>
                    <li><a href="#">Deep Drop Down 4</a></li>
                    <li><a href="#">Deep Drop Down 5</a></li>
                  </ul>
                </li>
                <li><a href="#">Drop Down 2</a></li>
                <li><a href="#">Drop Down 3</a></li>
                <li><a href="#">Drop Down 4</a></li>
              </ul>
            </li>-->
          
        </ul>
      </nav>
      <!-- .nav-menu --> 
      
      <!-- <a href="login.html" class="get-started-btn">Log in/Sign Up</a> --></div>
  </header>
  <!-- End Header -->
    <section id="about-video" class="about-video">
      <div class="container aos-init aos-animate" data-aos="fade-up">
        <div class="section-title mt-5">
            <h2>സ്​ഥിരമായി ഉയരുന്ന ചോദ്യങ്ങളും അവയ്​ക്കുള്ള ഉത്തരങ്ങളും</h2>
          <p><a  routerLink="/faq" >View in English</a></p>
        </div>
        <div class="row">
          <section id="faq" class="faq section-bg">
            <div class="container aos-init aos-animate" data-aos="fade-up">
              <h3 align="center">അക്കൗണ്ട്​ മാനേജ്​മെൻറ്​ സേവനങ്ങൾ:</h3>
              <div class="faq-list">
                <ul>
                    <li data-aos="fade-up"> <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" class="collapse" href="#faq-list-1">1 എന്താണ്​ അക്കൗണ്ട്​ മാനേജ്​മെൻറ്​ സേവനങ്ങൾ? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                        <div id="faq-list-1" class="collapse show" data-parent=".faq-list">
                          <p> സാമ്പത്തിക കാര്യങ്ങളിൽ ഉപദേശങ്ങൾ നൽകുന്ന കമ്പനിയുടെ സേവനങ്ങളാണിത്​.
                            ഇത്​ ഓഹരി വിപണിയിൽ ​നിക്ഷേപം നടത്തുന്നവർക്ക്​ ആവശ്യമായ ശാസ്​ത്രീയമായ
                            അറിവുകളും വിവരങ്ങളും മുന്നറിയിപ്പുകളും നൽകുന്നു. </p>
                        </div>
                      </li>
                      <li data-aos="fade-up" data-aos-delay="100"> <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" href="#faq-list-2" class="collapsed">2. എന്താണ്​ ‘ഡിമാറ്റ്​ അക്കൗണ്ട്​’ എന്നതുകൊണ്ട്​ അർത്ഥമാക്കുന്നത്​.?<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                        <div id="faq-list-2" class="collapse" data-parent=".faq-list">
                          <p> ഓഹരികൾ ഡിജിറ്റൽ അല്ലെങ്കിൽ ഡീമെറ്റീരിയലൈസ് ചെയ്ത രൂപത്തിൽ
                            സൂക്ഷിക്കുന്ന ഒരുതരം ഇലക്​ട്രോണിക്​സ്​ ബാങ്ക് അക്കൗണ്ടാണ് ഡിമാറ്റ് അക്കൗണ്ട്.
                            അതിനാൽ ഒരു ബാങ്ക് അക്കൗണ്ട് പോലെ, ഷെയറുകൾ പോലുള്ള നിങ്ങളുടെ
                            സാമ്പത്തിക നിക്ഷേപങ്ങളുടെ എല്ലാ സർട്ടിഫിക്കറ്റുകളും ഇത് സൂക്ഷിക്കുന്നു.
                            ബോണ്ടുകൾ,മ്യൂച്വൽ ഫണ്ടുകൾ,എക്സ്ചേഞ്ച് ട്രേഡഡ് ഫണ്ട്(ഇടിഎഫ്),
                            സർക്കാർ സെക്യൂരിറ്റികൾ എന്നിവയെല്ലാം ഇവിടെ ഡിജിറ്റൽ രൂപത്തിൽ
                            സൂക്ഷിക്കാം. </p>
                        </div>
                      </li>
                      <li data-aos="fade-up" data-aos-delay="200"> <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" href="#faq-list-3" class="collapsed">3. എന്താണ്​ ഒരു നിക്ഷേപ പദ്ധതി..?<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                        <div id="faq-list-3" class="collapse" data-parent=".faq-list">
                          <p> സാമ്പത്തിക നിലയ്​ക്ക്​ അനുസരിച്ച്​ നിക്ഷേപക​െൻറ ആവശ്യാനുസരണം
                            വിപണിയിലെ കാര്യങ്ങൾ വിശകലനം ചെയ്​ത്​ തയാറാക്കുന്നതാണ്​ നിക്ഷേപ പദ്ധതി. </p>
                        </div>
                      </li>
                      <li data-aos="fade-up" data-aos-delay="300"> <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" href="#faq-list-4" class="collapsed">4. നിക്ഷേപ പദ്ധതികൾ എത്രതരമുണ്ട്​..?<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                        <div id="faq-list-4" class="collapse" data-parent=".faq-list">
                          <p> സ്​ഥിര നിക്ഷേപം, മ്യൂച്വൽ ഫണ്ടുകൾ, റിയൽ എസ്​റ്റേറ്റ്​ (ഭൂമി, കെട്ടിടം
                            എന്നിവയുടെ ക്രയവിക്രയം), കടപത്രങ്ങൾ. </p>
                        </div>
                      </li>
                      <li data-aos="fade-up" data-aos-delay="400"> <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" href="#faq-list-5" class="collapsed">5. ആർക്കൊക്കെ നിക്ഷേപകരാവാം..?<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                        <div id="faq-list-5" class="collapse" data-parent=".faq-list">
                          <p> സാമ്പത്തികമായി ഉന്നതി ആഗ്രഹിക്കുന്ന ആർക്കും നിക്ഷേപം നടത്താം. </p>
                        </div>
                      </li>
                      <li data-aos="fade-up" data-aos-delay="500"> <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" href="#faq-list-6" class="collapsed">6. മികച്ചരീതിയിൽ നിക്ഷേപം നടത്തുന്നതിനായുള്ള ഉപദേശങ്ങൾ എവിടെനിന്ന്​ ലഭിക്കും..?<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                        <div id="faq-list-6" class="collapse" data-parent=".faq-list">
                          <p> ഇന്ത്യയിലെ ഓഹരി വിപണിയുടെ പ്രവർത്തനങ്ങൾ നിയന്ത്രിക്കുന്നതിനായി
                            രൂപപ്പെടുത്തയ ‘സെക്യൂരിറ്റീസ്​ ആൻറ്​ എക്​സ്​ചേഞ്ച്​ ബോർഡ്​ ഓഫ്​ ഇന്ത്യ (SEBI)
                            
                            യുടെ നിർദ്ദേശാനുസരം പ്രവർത്തിക്കുന്ന ‘നാഷണൽ ഇൻസ്​റ്റിറ്റ്യൂട്ട്​ ഓഫ്​
                            സെക്യൂരിറ്റീസ്​ മാർക്കറ്റ്​സ്​’ (NISM) ​െൻറ അംഗീകാരവും സർട്ടിഫിക്കറ്റും ഉള്ള
                            ആർക്കും സാമ്പത്തിക ഉപദേഷ്​ടാവായി പ്രവർത്തിക്കാം. </p>
                        </div>
                      </li>
                      <li data-aos="fade-up" data-aos-delay="600"> <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" href="#faq-list-7" class="collapsed">7. ​‘പോർട്ട്​ഫോളിയോ ഇൻവെസ്​റ്റ്​മെൻറ്​’ ഏത്​ തരത്തിലുള്ള നിക്ഷേപമാണ്​..?<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                        <div id="faq-list-7" class="collapse" data-parent=".faq-list">
                          <p> വരുമാനം ലഭിക്കുന്ന വിവിധ തരത്തിലുള്ള നിക്ഷേപ പദ്ധതികളിൽ പണം
                            നിക്ഷേപിക്കുന്ന ഒരു രീതിയാണിത്​. </p>
                        </div>
                      </li>
                      <li data-aos="fade-up" data-aos-delay="700"> <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" href="#faq-list-8" class="collapsed">8. ഒരു പോർട്ട്​ഫോളിയോ നിക്ഷേപത്തിന്റെ കാര്യത്തിൽ അറിയേണ്ടത്​ എന്തൊക്കെയാണ്​...? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                        <div id="faq-list-8" class="collapse" data-parent=".faq-list">
                          <p> ഓഹരികൾ വാങ്ങുന്ന അഥവാ നിക്ഷേപം നടത്തുന്ന മേഖലകളിലെ
                            ആസ്​തിവിവരങ്ങൾ, പരാജയ സാധ്യത, നിക്ഷേപങ്ങളിൽ നിന്ന്​ തിരികെ ലഭിക്കുന്ന
                            ആദായം തുടങ്ങിയവയെക്കുറിച്ച്​ അറിഞ്ഞിരിക്കണം. </p>
                        </div>
                      </li>
                      <li data-aos="fade-up" data-aos-delay="800"> <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" href="#faq-list-9" class="collapsed">9. എന്താണ്​ ‘മാവെറിക്​സ്​ പ്രോ ലിമിറ്റഡ്​’..? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                        <div id="faq-list-9" class="collapse" data-parent=".faq-list">
                          <p> സാമ്പത്തിക ഇടപാടുകൾ നഷ്​ടം കൂടാതെ നടത്തുന്നതിനായി അതുമായി ബന്ധപ്പെട്ട
                            വിവരങ്ങൾ നൽകി, വ്യക്​തികളെയും സ്​ഥാപനങ്ങളെയും നേട്ടങ്ങളുണ്ടാക്കാൻ
                            സജ്ജമാക്കാനായി പ്രവർത്തിക്കുന്ന സ്​ഥാപനമാണ്​ ‘മാവെറിക്​സ്​ പ്രോ ലിമിറ്റഡ്​’.
                            സാമ്പത്തിക ഇടപാടുകളുമായി ബന്ധപ്പെട്ട്​ ശാസ്​ത്രീയ മാർഗ്ഗങ്ങൾ
                            ഉപയോഗിച്ചുള്ള അറിവുകളും മികച്ച പരിശീനവും നൽകകുക വഴി വ്യക്​തികളുടെയും
                            സ്​ഥാപനങ്ങളുടെ സാമ്പത്തിക ഭദ്രത ഉറപ്പുവരുകയും സാമ്പത്തിക നേട്ടത്തിലുടെ
                            അവരുടെ സ്വപ്​നങ്ങൾ സാക്ഷാത്​കരിക്കാൻ സഹായിക്കുകയും ചെയ്യുന്ന​​​ു​. </p>
                        </div>
                      </li>
                      <li data-aos="fade-up" data-aos-delay="900"> <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" href="#faq-list-10" class="collapsed"> 10. എന്തുകൊണ്ടാണ്​ നിങ്ങൾ ‘മാവെറിക്​സ്​ പ്രോ ലിമിറ്റഡ്​’ നെതെരഞ്ഞെടുക്കുന്നത്​...? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                        <div id="faq-list-10" class="collapse" data-parent=".faq-list">
                          <p> കുറഞ്ഞ ബ്രോക്കറേജും നൂറുശതമാനം സുതാര്യതയും ഉറപ്പുനൽകുന്ന ‘മാവെറിക്​സ്​
                            പ്രോ ലിമിറ്റഡ്​’ ഇതിനകം നിരവധി ഇടപാടുകാരുടെ വിശ്വാസമാർജ്ജിക്കുകയും അവരെ
                            സാമ്പത്തിക നേട്ടത്തിലേക്ക്​ എത്താൻ സഹായിക്കുയും ചെയ്​ത സ്​ഥാപനമാണ്​. ഈ
                            സ്​ഥാപനത്തി​ലെ വിദഗ്​ധരായ സംഘം വിപണിയെ നിരന്തരം ആഴത്തിൽ
                            പഠനവിധേയമാക്കി ഇടപാടുകാർക്ക്​ ആവശ്യമുള്ള പരിഹാര നിർദ്ദേശങ്ങൾ
                            നൽകുന്നു. ഇൗ വിദഗ്​ധസംഘം ഇടപാടുകാരായ കമ്പനികളുടെ വളർച്ചക്ക്​
                            ആവശ്യമായ മാറ്റങ്ങൾ മനസ്സിലാക്കി അതിനുവേണ്ട സഹായങ്ങളും നൽകുന്നു. </p>
                        </div>
                      </li>
                      <li data-aos="fade-up" data-aos-delay="1000"> <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" href="#faq-list-11" class="collapsed">11. ‘മാവെറിക്​സ്​ പ്രോ ലിമിറ്റഡ്​’​െൻറ ദർശനങ്ങൾ എന്തൊക്കെയാണ്​..? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                        <div id="faq-list-11" class="collapse" data-parent=".faq-list">
                          <p> വിവിധ മേഖലകളിലെ ഞങ്ങളുടെ പ്രത്യേകമായി രൂപപ്പെടുത്തിയ സേവനങ്ങൾ വഴി
                            ലോകത്തുടനീളം സാമ്പത്തിക ഭദ്രതയുള്ള തൊഴിലിടങ്ങളെ സൃഷ്​ടിക്കുക എന്നതാണ്​
                            ‘മാവെറിക്​സ്​ പ്രോ ലിമിറ്റഡ്​’​െൻറ ദർശനങ്ങളിൽ പ്രധാനം. </p>
                        </div>
                      </li>
                </ul>
              </div>
            </div>
          </section>
          <section id="faq" class="faq section-bg">
            <div class="container aos-init aos-animate" data-aos="fade-up">
              <h3 align="center">ഡിമാറ്റ്​ അക്കൗണ്ട്​ ആരംഭിക്കുന്നതിനായി ലഭിക്കുന്ന സേവനങ്ങൾ</h3>
              <div class="faq-list">
                <ul>
                    <li data-aos="fade-up"> <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" class="collapse" href="#faq-list-1"> 1. ‘നോ യുവർ കസ്​റ്റമർ (KYC) നിബന്ധനയനുസരിച്ച്​ ഇടപാടുകരെ തിരിച്ചറിയാൻ
                        ആവശ്യമായ രേഖകൾ എന്തൊക്കെയാണ്​..? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                        <div id="faq-list-1" class="collapse show" data-parent=".faq-list">
                          <p>a. ആധാർ കാർഡ്.​<br>
                            b. പാൻ കാർഡ്.​<br>
                            c. ആധാറിൽ രേഖപ്പെടുത്തിയ മൊബൈൽ ഫോൺ നമ്പർ.<br>
                            *(മൊബൈൽ ഫോൺ നമ്പറും ആധാർ കാർഡും തമ്മിൽ നിർബന്ധമായും
                            ബന്ധിച്ചിരിക്കണം) </p>
                        </div>
                      </li>
                   <li data-aos="fade-up" data-aos-delay="100"> <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" href="#faq-list-2" class="collapsed">2. ആവശ്യമായ എല്ലാ രേഖകളും സമർപ്പിച്ചുകഴിഞ്ഞാൽ ഡിമാറ്റ്​ അക്കൗണ്ട്​ പ്രവർത്തനക്ഷമമാവാൻ എത്ര ദിവസമെടുക്കും..? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                  <div id="faq-list-2" class="collapse" data-parent=".faq-list">
                    <p> സമർപ്പിച്ചിട്ടുള്ള എല്ലാ രേഖകളും കൃത്യവും സാധുതയുമുള്ളതാണെങ്കിൽ ആ
                      ദിവസംതന്നെ അക്കൗണ്ട്​ ​ പ്രവർത്തനക്ഷമമാവും. </p>
                  </div>
                </li><li data-aos="fade-up" data-aos-delay="100"> <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" href="#faq-list-3" class="collapsed">3. ഞാൻ പണം ‘മാവെറിക്​സ്​ പ്രോ ലിമിറ്റഡിന്റെ ‘ അക്കൗണ്ടിലേക്കാണോ
                    നിക്ഷേപിക്കേണ്ടത്​..?​ <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                    <div id="faq-list-3" class="collapse" data-parent=".faq-list">
                      <p> അല്ല. നിങ്ങൾ പണം നിങ്ങളുടെ ഡിമാറ്റ്​ അക്കൗണ്ടിലേക്കാണ്​
                        നിക്ഷേപിക്കേണ്ടത്​. നിങ്ങൾക്ക്​ വേണ്ടി ‘ഏയ്​ഞ്ചൽ ബ്രോക്കിംഗ്​’ എന്ന
                        സ്​ഥാപനവുമായി ചേർന്നാണ്​ ഡിമാറ്റ്​ അക്കൗണ്ട്​ തുടങ്ങിയിരിക്കുന്നത്​. </p>
                    </div>
                  </li>
                  <li data-aos="fade-up" data-aos-delay="200"> <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" href="#faq-list-3" class="collapsed">4. അക്കൗണ്ട്​ തുറക്കുന്നതിന്​ എന്തെങ്കിലും രീതിയിലുള്ള പണം ആവശ്യമുണ്ടോ..?<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                    <div id="faq-list-3" class="collapse" data-parent=".faq-list">
                      <p>ഇല്ല. ഈ സേവനം പൂർണമായും സൗജന്യമാണ്​. </p>
                    </div>
                  </li>
                  <li data-aos="fade-up" data-aos-delay="300"> <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" href="#faq-list-4" class="collapsed">5. എ​ന്താണ്​ ‘മാവെറിക്​സ്​ പ്രോ ലിമിറ്റഡ്​’​ നൽകുന്നത് ..? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                    <div id="faq-list-4" class="collapse" data-parent=".faq-list">
                        <p> ‘മാവെറിക്​സ്​ പ്രോ ലിമിറ്റഡ്​’​ സാമ്പത്തിക ഉപദേശങ്ങൾ നൽകുന്ന സബ്​-
                            ​ബ്രോക്കർഷിപ്പ്​ സ്​ഥാപനമാണ്​. സ്​ഥാപനത്തിലെ വിദഗ്​ധരും
                            പരിചയസമ്പന്നരുമായ ഒരു സംഘം നിരന്തരമായ ഗവേഷണത്തിലൂടെ മികച്ച
                            പ്രവർത്തനം കാഴ്​ചവെക്കുന്ന 26 കമ്പനികളുടെ ഒരു പോർട്ട്​ഫോളിയയോ
                            തയാറാക്കിനൽകുന്നു. കഴിഞ്ഞ അഞ്ച്​ വർഷത്തെ അവയുടെ പ്രവർത്തനവും
                            സാമ്പത്തികനിലയും വളർച്ചാ സാധ്യതയും വിശകലനം ചെയ്​ത്​
                            ഉറപ്പുവരുത്തിയശേഷമായിരിക്കും ഈ കമ്പനികളെ നിങ്ങൾക്ക്​ മുന്നിൽ
                            സമർപ്പിക്കുന്നത്​. ഇതുവഴി ഇടപാടുകാർക്ക്​ പരാജയ സാധ്യതകുറഞ്ഞതും
                            നേട്ടങ്ങൾ പ്രതീക്ഷിക്കാവുന്നതുമായ നിക്ഷേപങ്ങൾ നടത്തുവാൻ കഴിയുന്നു. </p>
                    </div>
                  </li>
                  <li data-aos="fade-up" data-aos-delay="400"> <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" href="#faq-list-5" class="collapsed">6. Rs.5,000ന്റെയും Rs.50,000ന്റെയും പാക്കേജുകൾ തമ്മിലുള്ള വ്യത്യാസം
                    എന്തൊക്കെയാണ്​..? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                    <div id="faq-list-5" class="collapse" data-parent=".faq-list">
                      <p>‘മാവെറിക്​സ്​ പ്രോ ലിമിറ്റഡ്​’​ നിങ്ങൾക്ക്​ വേണ്ടി മുന്നോട്ടുവെക്കുന്ന രണ്ട്​
                        തരത്തിലുള്ള നിക്ഷേപ പദ്ധതികളാണ്​ ഇവ. തുടക്കക്കാർക്കായി 5,000 രൂപയുടെ
                        പദ്ധതിയാണ്​ ആ​ദ്യത്തേത്​. ഇതുവഴി 10 ൽ കുറയാത്ത കമ്പനികളുടെ ഒരോ ഓഹരികൾ
                        നിങ്ങൾക്ക്​ വേണ്ടി നിങ്ങളു​െട സമ്മതത്തോടെ ഞങ്ങൾ വാങ്ങി സൂക്ഷിക്കുന്നു.
                        രണ്ടാമത്തെ പദ്ധതിക്കായി മുടക്കേണ്ടത്​ 50,000 രൂപയാണ്​. ഇത്​ പ്രകാരം 26
                        കമ്പനികളുടെയും ഓരോ ഓഹരികളാണ്​ നിങ്ങളുടെ പേരിൽ വാങ്ങുക. </p>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </section>
          <section id="faq" class="faq section-bg">
            <div class="container aos-init aos-animate" data-aos="fade-up">
              <h3 align="center">പൊതുവായ ചില ചോദ്യങ്ങൾ  </h3>
              <div class="faq-list">
                <ul>
                  <li data-aos="fade-up"> <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" class="collapse" href="#faq-list-1">  1. ഇൗ പദ്ധതികളിലൂ​െട നിക്ഷേപം നടത്തുന്നതിന്​ ഓഹരി വിപണിയെകുറിച്ചോ
                    സാമ്പത്തികശാസ്​​ത്ര സംബന്ധമായ കാര്യങ്ങളോ അറിഞ്ഞിരിക്കേണ്ടതുണ്ടോ...? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                    <div id="faq-list-1" class="collapse show" data-parent=".faq-list">
                      <p> ഒരിക്കലും ആവശ്യമില്ല. അതെല്ലാം നിങ്ങൾക്ക്​ വേണ്ടി ഞങ്ങളുടെ പരിചയവും
                        അറിവും ഉപയോഗിച്ച്​ ഞങ്ങൾ ചെയ്യുന്നതാണ്​.  </p>
                    </div>
                  </li>
                  <li data-aos="fade-up" data-aos-delay="100"> <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" href="#faq-list-2" class="collapsed">2. എന്റെ റ നിക്ഷേപം നഷ്​ടപ്പെടുവാൻ സാധ്യതയുണ്ടോ...? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                    <div id="faq-list-2" class="collapse" data-parent=".faq-list">
                      <p>ഇല്ല. നിങ്ങളുടെ പണം ഒരിക്കലും പരാജയസാധ്യതയുള്ള കമ്പനികളുടെ ഓഹരികളിൽ
                        ഞങ്ങൾ നിക്ഷേപിക്കുകയില്ല. മറിച്ച്​ നിരന്തര പഠനത്തിലൂടെ കണ്ടെത്തിയ
                        മികച്ച വളർച്ചാസാധ്യതയുള്ളതായി കണ്ടെത്തിയ ശേഷം പോർട്ട്​ഫോളിയോയിൽ
                        ഉൾപ്പെടുത്തിയ കമ്പനികളുടെ ഓഹരികളിലാണ്​ നിക്ഷേപിക്കുക. അതുവഴി ആ
                        കമ്പനികളുടെ വളർച്ചക്കനുസരിച്ച്​ ഒാഹരികളുടെ മുഖവില ഉയരുകയും
                        
                        ദീർഘകാലാടിസ്​ഥാനത്തൽ നിങ്ങൾ മികച്ച നേട്ടം കൈവരിക്കാൻ കഴിയുകയും
                        ചെയ്യും.  </p>
                    </div>
                  </li>
                  <li data-aos="fade-up" data-aos-delay="200"> <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" href="#faq-list-3" class="collapsed">3. ഇത്തരം സേവനങ്ങൾക്കായി ‘മാവെറിക്​സ്​ പ്രോ ലിമിറ്റഡ്​’​ എത്ര തുകയാണ്​
                    ഇടയാക്കുന്നത്​..?<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                    <div id="faq-list-3" class="collapse" data-parent=".faq-list">
                      <p> ‘മാവെറിക്​സ്​ പ്രോ ലിമിറ്റഡ്​’​ എന്നത്​ ഏയ്​ഞ്ചൽ ബ്രോക്കിങ് ​ എന്ന കമ്പനിയുടെ
                        കീഴിൽ പ്രവർത്തിക്കുന്ന ഒരു സബ്​ ബ്രോക്കർ സ്​ഥാപനമാണ്​. ഇത്തരത്തിൽ
                        ഇടപാടുകാർക്ക്​ ഓഹരികളുടെ നിക്ഷേപവുമായി ബന്ധപ്പെട്ട ഉപദേശങ്ങളും
                        സഹായങ്ങളും നൽകുന്നതിനായി നിയമപ്രകാരമുള്ള ഒരു ശതമാനം തുകയാണ്​
                        ഈടാക്കുന്നത് ​. അത്​ സ്വാഭാവികമായും ബ്രോക്കറേജിൽ ഉൾപ്പെടുന്നതിനാൽ
                        ഇടപാടുകാർ പ്രത്യേകം പണം നൽകേണ്ടതില്ല. </p>
                    </div>
                  </li>
                  <li data-aos="fade-up" data-aos-delay="300"> <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" href="#faq-list-4" class="collapsed">4. ഇൗ ഇടപാടിൽ എന്തെങ്കിലും രീതിയിൽ മറ്റ്​ തരത്തിലുള്ള (ഒളിച്ചുവെച്ച
                    ചാർജ്ജുകൾ) തുക നൽകേണ്ടതുണ്ടോ..?<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                    <div id="faq-list-4" class="collapse" data-parent=".faq-list">
                      <p>ഇല്ല. ഒരിക്കലും അത്തരത്തിൽ പണം നൽകേണ്ടതില്ല.  </p>
                    </div>
                  </li>
                  <li data-aos="fade-up" data-aos-delay="400"> <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" href="#faq-list-5" class="collapsed">5. ഇത്തരത്തിലുള്ള നിക്ഷേപങ്ങൾ എപ്പോൾ പിൻവലിക്കാൻ കഴിയും...?<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                    <div id="faq-list-5" class="collapse" data-parent=".faq-list">
                      <p>  നിക്ഷേപകർക്ക്​ ഏത്​ സമയത്തും അവ പിൻവലിക്കാവുന്നതാണ്​. ഞങ്ങൾ നിങ്ങളുടെ
                        പണം കൈവശം വെക്കുന്നില്ല. മറിച്ച്​ അത്​ നിങ്ങളുടെ പേരിലുള്ള ഡിമാറ്റ്​
                        അക്കൗണ്ടിൽ സുരക്ഷിതമാണ്​. ഇടപാടുകാരുടെ ആവശ്യത്തിനനുസരിച്ച്​ അവരുടെ
                        സമ്മതത്തോടെ ഓഹരി വിപണിയിൽ ഓഹരികൾ ലാഭകരമായി വാങ്ങുകയും
                        വിൽക്കുകയും ചെയ്യുകയാണ്​ ഞങ്ങൾ ചെയ്യുന്നത്​. അതുകൊണ്ടുതന്നെ
                        നിക്ഷേപത്തിന്റെ റ പൂർണ നിയന്ത്രണം എല്ലാ സമയത്തും നിക്ഷേപകരിൽ
                        മാത്രമാണ്​. </p>
                    </div>
                  </li>
                  <li data-aos="fade-up" data-aos-delay="500"> <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" href="#faq-list-6" class="collapsed">6. ഇത്​ ‘മ്യൂച്വൽ ഫണ്ടി’ന്​ സമാനമായ രീതിയിലുള്ളതാണോ..? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                    <div id="faq-list-6" class="collapse" data-parent=".faq-list">
                      <p>  ഒരിക്കലുമല്ല. ‘മാവെറിക്​സ്​ പ്രോ ലിമിറ്റഡ്​’​ ഒരു സബ്​​്ബ്രോക്കർഷിപ്പ്​
                        സ്​ഥാപനവും സാമ്പത്തിക ഉപദേഷ്​ടാക്കളുമാണ്​. ഞങ്ങൾ ഒരിക്കലും ‘മ്യൂച്വൽ
                        ഫണ്ടി’​ലേതുപോലെ ഇടപാടുകാരുടെ പണം ‘മ്യൂച്വൽ ഫണ്ടി’​യെ ഫണ്ട്​
                        മാനേജർമാരുടെ താൽപര്യത്തിനനുസരിച്ച്​ ഇടപാടുകൾ നടത്താറില്ല.</p>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </section>
         
          <section id="faq" class="faq section-bg">
            <div class="container aos-init aos-animate" data-aos="fade-up">
              <h3 align="center">ഇടപാട്​കാർക്ക്​ കമ്പനിയിൽ നിന്ന്​ ലഭിക്കുന്ന ​പ്രത്യേകമായ സേവനങ്ങളും
                നേട്ടങ്ങളും </h3>
              <div class="faq-list">
                <ul>
                    <li data-aos="fade-up" data-aos-delay="500"> <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" href="#faq-list-6" class="collapsed">എന്തുകൊണ്ട്​ ‘മാവെറിക്​സ്​ പ്രോ Ltd’..? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                        <div id="faq-list-6" class="collapse" data-parent=".faq-list">
                          <p> എന്തുകൊണ്ട്​ ‘മാവെറിക്​സ്​ പ്രോ Ltd’..?
                            <p>ഇന്ത്യൻ ഓഹരിവിപണിയിലെ 15 വർഷത്തെ പരിചയസമ്പന്നതയോടൊപ്പം
                              വിപണിയുടെ സ്വഭാത്തെ അടിസ്​ഥാനപരമായും സാ​ങ്കേതികമായും വിശകലനം
                              ചെയ്യാൻ വിദഗ്​ധരായ, CFTe, MBA, NiSM, GFMP, Bloomberg തുടങ്ങിയ
                              അന്താരാഷ്​ട്രതലത്തിലുള്ള മികച്ച കമ്പനികളിൽ നിന്ന്​ പരിശീലനം ലഭിച്ച്​
                              സർട്ടിഫിക്കറ്റുകൾ നേടിയ ഗവേഷക സംഘത്തി​െൻറ പ്രവർത്തനം
                              കൂടിയാകു​േമ്പാൾ അത്​ ഏറ്റവും മികച്ച ഫലം നൽകുന്നു.</p>
                            <ul>
                                <li class="faqli"><i class="bx bx-check-double"></i> കുറഞ്ഞനിരക്കിലുള്ള ബ്രോക്കറേജ്​.</li>
                                <li class="faqli"><i class="bx bx-check-double"></i>സൗജന്യമായി ഡിമാറ്റ്​ അക്കൗണ്ട്​ തുറക്കാനുള്ള സൗകര്യം.</li>
                                <li class="faqli"><i class="bx bx-check-double"></i>ഇതുമായി ബന്ധപ്പെട്ട വിവിധ വിഷയങ്ങളിലെ വെബിനാറുകൾ.</li>
                                <li class="faqli"><i class="bx bx-check-double"></i>ആദ്യത്തെ ഒരു വർഷം വാർഷിക പരിപാലന ചെലവുകളിൽ ഇളവ്​.</li>
                                <li class="faqli"><i class="bx bx-check-double"></i> ഓഹരി വിപണിയെക്കുറിച്ചുള്ള എറ്റവും പുതിയ വിവരങ്ങൾ ദിനംപ്രതിയോ
                                    ആഴ്​ചയിലോ പ്രത്യേക അവസരങ്ങളിലോ ലഭ്യമാക്കൽ.</li>
                                    <li class="faqli"><i class="bx bx-check-double"></i> ഓഹരി വിപണി സംബന്ധമായ സംശയങ്ങൾ പരിഹരിക്കൽ.</li>
                                <li class="faqli"><i class="bx bx-check-double"></i>ഇതുമായി ബന്ധപ്പെട്ട വിവിധ വിഷയങ്ങളിലെ വെബിനാറുകൾ.</li>
                                <li class="faqli"><i class="bx bx-check-double"></i>ഓരോ ഇടപാടുകാരനും പ്രത്യേകമായി ഓഹരികളെക്കുറിച്ചുള്ള നിർദ്ദേശങ്ങൾ
ദിവസേന നൽകുന്നു.</li>
                            </ul>
                        </div>
                      </li>
                    <li data-aos="fade-up" data-aos-delay="500">  <a data-toggle="collapse" href="#faq-list-6" class="collapsed">കൂടുതൽ വിവരങ്ങൾക് വിളിക്കൂ <strong></strong>
                    </a>
                      </li>
                </ul>
              </div>
            </div>
          </section>