
<!-- ======= Header ======= -->
<header id="header" class="fixed-top services_header">
  <div class="container d-flex align-items-center">
    <h1 class="logo mr-auto"><a routerLink="/home" > <img src="assets/img/logo.png" class="img-fluid" alt=""></a></h1>
    <nav class="nav-menu d-none d-lg-block">
      <ul>
        <li><a routerLink="/home" >Home</a></li>
        <li><a routerLink="/services" >Services</a></li>
        <li class="active"><a routerLink="/faq" >FAQ</a></li>
        <!--<li><a href="login.html">Log in/Sign Up</a></li>-->
        
        <!--  <li class="drop-down"><a href="">Drop Down</a>
            <ul>
              <li><a href="#">Drop Down 1</a></li>
              <li class="drop-down"><a href="#">Deep Drop Down</a>
                <ul>
                  <li><a href="#">Deep Drop Down 1</a></li>
                  <li><a href="#">Deep Drop Down 2</a></li>
                  <li><a href="#">Deep Drop Down 3</a></li>
                  <li><a href="#">Deep Drop Down 4</a></li>
                  <li><a href="#">Deep Drop Down 5</a></li>
                </ul>
              </li>
              <li><a href="#">Drop Down 2</a></li>
              <li><a href="#">Drop Down 3</a></li>
              <li><a href="#">Drop Down 4</a></li>
            </ul>
          </li>-->
        
      </ul>
    </nav>
    <!-- .nav-menu --> 
    
    <!-- <a href="login.html" class="get-started-btn">Log in/Sign Up</a> --></div>
</header>
<main id="main">
    <section id="about-video" class="about-video">
      <div class="container aos-init aos-animate" data-aos="fade-up" data-aos="fade-up" data-aos-delay="100">
      <div class="section-title mt-5">
        <h2>REFUND & CANCELLATION POLICY </h2>
      </div>
      <div class="row">
        <div id="Content">
          <div class="content_wrapper clearfix">
            <div class="sections_group">
              <div class="entry-content" itemprop="mainContentOfPage">
                <div class="section the_content has_content">
                  <div class="section_wrapper">
                    <div class="the_content_wrapper">
                      <p>Our focus is complete customer satisfaction. In the event, if you are displeased with the services provided, we will refund back the money, provided the reasons are genuine and proved after investigation. Please read the fine prints of each deal before buying it, it provides all the details about the services or the product you purchase.</p>
                      <p>In case of dissatisfaction from our services, clients have the liberty to cancel their projects and request a refund from us. Our Policy for the cancellation and refund will be as follows:</p>
                      <h3>Cancellation Policy</h3>
                      <p>For Cancellations please contact the us via contact us link.</p>
                      <p>Requests received later than 5 business days prior to the end of the current service period will be treated as cancellation of services for the next service period.<br>
                      </p>
                      <h3>Refund Policy</h3>
                      <p>We will try our best to create the suitable design concepts for our clients.</p>
                      <p>In case any client is not completely satisfied with our products we can provide a refund.&nbsp;<br>
                      </p>
                      <p>If paid by credit card, refunds will be issued to the original credit card provided at the time of purchase and in case of payment gateway name payments refund will be made to the same account.</p>
                    </div>
                  </div>
                </div>
                <div class="section section-page-footer">
                  <div class="section_wrapper clearfix">
                    <div class="column one page-pager"> </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
    </section>
  </main>