
<!-- ======= Header ======= -->
<header id="header" class="fixed-top services_header">
    <div class="container d-flex align-items-center">
      <h1 class="logo mr-auto"><a routerLink="/home" > <img src="assets/img/logo.png" class="img-fluid" alt=""></a></h1>
      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li><a routerLink="/home" >Home</a></li>
          <li><a routerLink="/services" >Services</a></li>
          <li class="active"><a routerLink="/faq" >FAQ</a></li>
          <!--<li><a href="login.html">Log in/Sign Up</a></li>-->
          
          <!--  <li class="drop-down"><a href="">Drop Down</a>
              <ul>
                <li><a href="#">Drop Down 1</a></li>
                <li class="drop-down"><a href="#">Deep Drop Down</a>
                  <ul>
                    <li><a href="#">Deep Drop Down 1</a></li>
                    <li><a href="#">Deep Drop Down 2</a></li>
                    <li><a href="#">Deep Drop Down 3</a></li>
                    <li><a href="#">Deep Drop Down 4</a></li>
                    <li><a href="#">Deep Drop Down 5</a></li>
                  </ul>
                </li>
                <li><a href="#">Drop Down 2</a></li>
                <li><a href="#">Drop Down 3</a></li>
                <li><a href="#">Drop Down 4</a></li>
              </ul>
            </li>-->
          
        </ul>
      </nav>
      <!-- .nav-menu --> 
      
      <!-- <a href="login.html" class="get-started-btn">Log in/Sign Up</a> --></div>
  </header>
  <main id="main"> 
 
    <!-- ======= Services Section ======= -->
    <section id="hero_services" class="align-items-center">
      <div class="container" data-aos="fade-up" data-aos-delay="100">
        
        <div class="clearfix"></div>
         <div class="text-center clearfix">
          <h2>Join our Financial Advisory Service</h2>
        </div>
        <div class="row icon-boxes">
          <div class="col-md-6 col-lg-6" data-aos="zoom-in" data-aos-delay="400">
            <div class="icon-box icon-box_one text-center planimg">
              <h4 class="title"><a href="">Beginner's Pack</a></h4>
              <div class="icon"> <img src="assets/img/assets/Beginner_flag.svg" class="img-fluid" alt=""></div>
              <h2 class="prize_title">Rs.5,000<span style="font-size: 14px;">Per unit</span></h2>
              <p class="description descriptionp">1 share each of
                10 selected companies.</p>
              <div class=""> <a href="https://forms.gle/PLpEV1W7d83SWP5Y8" target="_blank" class="btn-get-started scrollto">Apply Now</a> </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-6" data-aos="zoom-in" data-aos-delay="400">
            <div class="icon-box icon-box_two text-center planimg">
              <h4 class="title"><a href="">Value Pack</a></h4>
              <div class="icon"><img src="assets/img/assets/Diamond.svg" class="img-fluid" alt=""></div>
              <h2 class="prize_title">Rs.50,000<span style="font-size: 14px;">Per unit</span></h2>
              <p class="description descriptionp">1 share each of
                26 selected companies.</p>
              <div class=""> <a href="https://forms.gle/PLpEV1W7d83SWP5Y8" target="_blank" class="btn-get-started scrollto">Apply Now</a> </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End Sevices Section -->
    
    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
      <div class="container" data-aos="fade-up">
        <div class="section-title">
          <h2>Financial Advisory Service at a glance</h2>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box iconbox-blue">
              <div class="icon"> <img src="assets/img/assets/1_bulb.svg" class="img-fluid" alt=""> </div>
              <h4><a href="">Traders of MaverixPro</a></h4>
              <p>Traders of MaverixPro Ltd, based on their experience in the industry, analyse companies on the basis of their track record and performance.</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon-box iconbox-orange ">
              <div class="icon"> <img src="assets/img/assets/2_arrow.svg" class="img-fluid" alt=""> </div>
              <h4><a href="">The shares</a></h4>
              <p>The shares, bought with a foresight of three months, are expected to have a growth rate of 15-20% per annum. (1-2.5% growth/month)</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon-box iconbox-pink">
              <div class="icon"> <img src="assets/img/assets/3_withdraw.svg" class="img-fluid" alt=""> </div>
              <h4><a href="">The investor</a></h4>
              <p>The investor is free to withdraw the amount invested in his/her Demat account anytime.</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box iconbox-yellow">
              <div class="icon"> <img src="assets/img/assets/4_chat.svg" class="img-fluid" alt=""> </div>
              <h4><a href="">Buy or Sell</a></h4>
              <p>Before a buy or sell, the Maverix Team communicates with the investor.</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon-box iconbox-red">
              <div class="icon"> <img src="assets/img/assets/5_phone.svg" class="img-fluid" alt=""> </div>
              <h4><a href="">Investors</a></h4>
              <p>The investors can view their account details with the help of an App. </p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon-box iconbox-teal">
              <div class="icon"> <img src="assets/img/assets/6_secure.svg" class="img-fluid" alt=""> </div>
              <h4><a href="">Investments</a></h4>
              <p>The investments are SEBI approved, responsibly complying with all the prevailing laws.</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End Sevices Section -->
    </main>