/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
	font-family: "Open Sans", sans-serif;
	color: #444444;
}
a {
	color: #000;
}
a:hover {
	color: #469fdf;
	text-decoration: none;
}
h1, h2, h3, h4, h5, h6 {
	font-family: "Raleway", sans-serif;
}
/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
	position: fixed;
	display: none;
	right: 15px;
	bottom: 15px;
	z-index: 99999;
}
.back-to-top i {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 24px;
	width: 40px;
	height: 40px;
	border-radius: 4px;
	background: #1E73BE;
	color: #fff;
	transition: all 0.4s;
}
.back-to-top i:hover {
	background: #3e9bdd;
	color: #fff;
}
/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 9999;
	overflow: hidden;
	background: #000;
	background-image: url(../img/favicon.png) center;
	background-repeat: no-repeat;
}
#preloader:before {
	content: "";
	position: fixed;
	top: calc(50% - 30px);
	left: calc(50% - 30px);
	border: 6px solid #363636;
	border-top-color: #7C7C7C;
	border-bottom-color: #272727;
	border-radius: 50%;
	width: 60px;
	height: 60px;
	-webkit-animation: animate-preloader 1s linear infinite;
	animation: animate-preloader 1s linear infinite;
}
 @-webkit-keyframes animate-preloader {
 0% {
 transform: rotate(0deg);
}
 100% {
 transform: rotate(360deg);
}
}
 @keyframes animate-preloader {
 0% {
 transform: rotate(0deg);
}
 100% {
 transform: rotate(360deg);
}
}

/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
[data-aos-delay] {
	transition-delay: 0 !important;
}
}
/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
	transition: all 0.5s;
	background: none;
	z-index: 997;
	padding: 15px 0;
	border-bottom: 0px solid #e6f2fb;
}
.services_header {
	background-color: #000 !important;
}
.footertop_marg {
	padding-top: 60px;
}
.apptop {
}
.apptop img {
	padding-top: 20px;
}
#header.header-scrolled {
	border-color: #fff !important;
	background: #000;
	box-shadow: 0px 2px 15px rgba(18, 66, 101, 0.08);
}
#header .logo {
	font-size: 28px;
	margin: 0;
	padding: 0;
	line-height: 1;
	font-weight: 300;
	letter-spacing: 0.5px;
	font-family: "Poppins", sans-serif;
}
#header .logo a {
	color: #16507b;
}
#header .logo img {
	max-height: 40px;
}

@media (max-width: 992px) {
#header .logo {
	font-size: 28px;
}
}
/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Desktop Navigation */
.nav-menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.nav-menu > ul {
	display: flex;
}
.nav-menu > ul > li {
	position: relative;
	white-space: nowrap;
	padding: 14px 0 14px 50px;
}
.nav-menu a {
	display: block;
	position: relative;
	color: #fff;
	transition: 0.3s;
	font-size: 14px;
	font-family: "Open Sans", sans-serif;
}
.nav-menu a:hover, .nav-menu .active > a, .nav-menu li:hover > a {
	color: #fff;
	border-bottom: solid 3px #fff
}
.nav-menu .drop-down ul {
	display: block;
	position: absolute;
	left: 15px;
	top: calc(100% + 30px);
	z-index: 99;
	opacity: 0;
	visibility: hidden;
	padding: 10px 0;
	background: #fff;
	box-shadow: 0px 0px 20px rgba(18, 66, 101, 0.1);
	transition: 0.3s;
	border-radius: 5px;
}
.nav-menu .drop-down:hover > ul {
	opacity: 1;
	top: 100%;
	visibility: visible;
}
.nav-menu .drop-down li {
	min-width: 180px;
	position: relative;
}
.nav-menu .drop-down ul a {
	padding: 10px 20px;
	font-size: 14px;
	font-weight: 500;
	text-transform: none;
	color: #124265;
}
.nav-menu .drop-down ul a:hover, .nav-menu .drop-down ul .active > a, .nav-menu .drop-down ul li:hover > a {
	color: #1E73BE;
}
.nav-menu .drop-down > a:after {
	content: "\ea99";
	font-family: IcoFont;
	padding-left: 5px;
}
.nav-menu .drop-down .drop-down ul {
	top: 0;
	left: calc(100% - 30px);
}
.nav-menu .drop-down .drop-down:hover > ul {
	opacity: 1;
	top: 0;
	left: 100%;
}
.nav-menu .drop-down .drop-down > a {
	padding-right: 35px;
}
.nav-menu .drop-down .drop-down > a:after {
	content: "\eaa0";
	font-family: IcoFont;
	position: absolute;
	right: 15px;
}

@media (max-width: 1366px) {
.nav-menu .drop-down .drop-down ul {
	left: -90%;
}
.nav-menu .drop-down .drop-down:hover > ul {
	left: -100%;
}
.nav-menu .drop-down .drop-down > a:after {
	content: "\ea9d";
}
}
/* Get Startet Button */
.get-started-btn {
	margin-left: 25px;
	color: #fff;
	border-radius: 55px;
	padding: 10px 30px 11px 30px;
	white-space: nowrap;
	transition: 0.3s;
	font-size: 14px;
	font-weight: 600;
	display: inline-block;
}
.get-started-btn:hover {
	background: #2079b8;
	color: #fff;
}

@media (max-width: 768px) {
.get-started-btn {
	margin: 0 48px 0 0;
	padding: 5px 18px 6px 18px;
	border-radius: 3px;
}
}
/* Mobile Navigation */
.mobile-nav-toggle {
	position: fixed;
	right: 15px;
	top: 18px;
	z-index: 9998;
	border: 0;
	background: none;
	font-size: 24px;
	transition: all 0.4s;
	outline: none !important;
	line-height: 1;
	cursor: pointer;
	text-align: right;
}
.mobile-nav-toggle i {
	color: #fff;
}
.mobile-nav {
	position: fixed;
	top: 55px;
	right: 15px;
	bottom: 15px;
	left: 15px;
	z-index: 9999;
	overflow-y: auto;
	background: #fff;
	transition: ease-in-out 0.2s;
	opacity: 0;
	visibility: hidden;
	border-radius: 10px;
	padding: 10px 0;
}
.mobile-nav * {
	margin: 0;
	padding: 0;
	list-style: none;
}
.mobile-nav a {
	display: block;
	position: relative;
	color: #124265;
	padding: 10px 20px;
	font-weight: 500;
	outline: none;
}
.mobile-nav a:hover, .mobile-nav .active > a, .mobile-nav li:hover > a {
	color: #1E73BE;
	text-decoration: none;
}
.mobile-nav .drop-down > a:after {
	content: "\ea99";
	font-family: IcoFont;
	padding-left: 10px;
	position: absolute;
	right: 15px;
}
.mobile-nav .active.drop-down > a:after {
	content: "\eaa1";
}
.mobile-nav .drop-down > a {
	padding-right: 35px;
}
.mobile-nav .drop-down ul {
	display: none;
	overflow: hidden;
}
.mobile-nav .drop-down li {
	padding-left: 20px;
}
.mobile-nav-overly {
	width: 100%;
	height: 100%;
	z-index: 9997;
	top: 0;
	left: 0;
	position: fixed;
	background: rgba(10, 38, 58, 0.6);
	overflow: hidden;
	display: none;
	transition: ease-in-out 0.2s;
}
.mobile-nav-active {
	overflow: hidden;
}
.mobile-nav-active .mobile-nav {
	opacity: 1;
	visibility: visible;
}
.mobile-nav-active .mobile-nav-toggle i {
	color: #fff;
}
/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
	width: 100%;
	background: url("../img/hero-bg.jpg") top center;
	background-size: cover;
}
#hero:before {
	content: "";
	/*  background: rgba(50, 71, 98, 0.8);
*/  
	bottom: 0;
	top: 0;
	left: 0;
	right: 0;
}
#hero .container {
	padding-top: 100px;
}
.mtopbanner {
	padding-top: 100px;
}
#hero h1 {
	margin: 0;
	font-size: 56px;
	font-weight: 700;
	line-height: 72px;
	color: #fff;
	font-family: "Poppins", sans-serif;
}
#hero h3 {
	color: #5e5e5e;
	margin: 10px 0 0 0;
	font-size: 22px;
}
#hero p {
	color: #fff;
	font-family: "Poppins", sans-serif;
}
#hero .btn-get-started {
	font-family: "Poppins", sans-serif;
	font-weight: 500;
	font-size: 14px;
	letter-spacing: 0.5px;
	display: inline-block;
	padding: 14px 50px;
	border: none;
	border-radius: 55px;
	transition: 0.5s;
	margin-top: 30px;
	color: #fff;
	background: #1E73BE;
}
#hero .btn-get-started:hover {
	background: #3194db;
}

.btn_more_gamma {
	font-family: "Poppins", sans-serif;
	font-weight: 500;
	font-size: 14px;
	border: 0px;
	letter-spacing: 0.5px;
	display: inline-block;
	padding: 14px 50px;
	border-radius: 55px;
	transition: 0.5s;
	margin-top: 30px;
	color: #fff;
	background: #e08779;
}
.btn_more_gamma:hover {
	color: #fff;
	background: #C5402B;
}

.btn_more {
	font-family: "Poppins", sans-serif;
	font-weight: 500;
	font-size: 14px;
	letter-spacing: 0.5px;
	display: inline-block;
	padding: 14px 50px;
	border-radius: 55px;
	transition: 0.5s;
	margin-top: 30px;
	color: #fff;
	background: #1E73BE;
}
.btn_more:hover {
	color: #fff;
	background: #313131;
}
#hero h3 {
	color: #fff;
}
#hero .icon-boxes {
	margin-top: 1px;
}
#hero .icon-box {
	padding: 50px 30px;
	position: relative;
	overflow: hidden;
	background: #fff;
	box-shadow: 0 0 29px 0 rgba(18, 66, 101, 0.08);
	transition: all 0.3s ease-in-out;
	border-radius: 8px;
	z-index: 1;
}
#hero .icon-box_one {
	padding: 50px 30px;
	position: relative;
	margin-bottom: 20px;
	min-height: 550px;
	overflow: hidden;
	background-color: #88c7d9;
	/*background-image: linear-gradient(to right, rgba(168,168,168,1), rgba(240,240,240,1));*/
	box-shadow: 0 0 29px 0 rgba(18, 66, 101, 0.08);
	transition: all 0.3s ease-in-out;
	border-radius: 8px;
	z-index: 1;
}
#hero .icon-box_two {
	padding: 50px 30px;
	position: relative;
	overflow: hidden;
	margin-bottom: 20px;
	min-height: 550px;
	background-color: #f0c17d;
	/*background-image: linear-gradient(to right, rgba(227,128,18,1), rgba(252,240,200,1));*/
	box-shadow: 0 0 29px 0 rgba(18, 66, 101, 0.08);
	transition: all 0.3s ease-in-out;
	border-radius: 8px;
	z-index: 1;
}
#hero .icon-box_three {
	padding: 50px 30px;
	position: relative;
	margin-bottom: 20px;
	min-height: 550px;
	overflow: hidden;
	background-color: #e08779;
	/*background-image: linear-gradient(to right, rgba(114,255,190,1), rgba(57,224,232,1));*/
	box-shadow: 0 0 29px 0 rgba(18, 66, 101, 0.08);
	transition: all 0.3s ease-in-out;
	border-radius: 8px;
	z-index: 1;
}
.modal-title {
	text-align: center;
	font-size: 20px;
	font-weight: bold;
}

@media screen and (min-width: 768px) {
#myModal .modal-dialog {
	webkit-box-shadow: 0 5px 15px rgba(0,0,0,.5);
	box-shadow: 0 5px 15px rgba(0,0,0,.5);
}
}
#myModal .modal-header {
	border-radius: 5px 5px 0 0;
	background-color: #fff;
}
#myModal .modal-content {
	background-color: #fff;
	border-radius: 0;
	padding: 20px;
	box-shadow: none;
	background-clip: inherit;
}
#myModal .modal-footer .btn{
	color: #fff !important;
		    border: 0px !important;
}
#myModal2 .modal-header {
	border-radius: 5px 5px 0 0;
	background-color: #fff;
}
#myModal2 .modal-content {
	background-color: #fff;
	border-radius: 0;
	padding: 20px;
	box-shadow: none;
	background-clip: inherit;
}
#myModal2 .modal-footer .btn {
	color: #fff !important;
		    border: 0px !important;

}
#myModal3 .modal-header {
	border-radius: 5px 5px 0 0;
	background-color: #fff;
}
#myModal3 .modal-content {
	background-color: #fff;
	border-radius: 0;
	padding: 20px;
	box-shadow: none;
	background-clip: inherit;
}
#myModal3 .modal-footer .btn{
	color: #fff !important;
		    border: 0px !important;

}

.modal-footer
{
	color: #fff !important;
		    border: 0px !important;

}
/*--------------------------------------------------------------
# Hero Section

--------------------------------------------------------------*/
#hero_beta {
	width: 100%;
}
#hero_beta:before {
	content: "";
	/*  background: rgba(50, 71, 98, 0.8);
*/  
	bottom: 0;
	top: 0;
	left: 0;
	right: 0;
}
#hero_beta .container {
	padding-top: 100px;
}
.mtopbanner {
	padding-top: 100px;
}
#hero_beta h1 {
	margin: 0;
	font-size: 56px;
	font-weight: 700;
	line-height: 72px;
	color: #fff;
	font-family: "Poppins", sans-serif;
}
#hero_beta h3 {
	color: #5e5e5e;
	margin: 10px 0 0 0;
	font-size: 22px;
}
#hero_beta p {
	color: #fff;
	font-family: "Poppins", sans-serif;
}
#hero_beta .btn-get-started {
	font-family: "Poppins", sans-serif;
	font-weight: 500;
	font-size: 14px;
	letter-spacing: 0.5px;
	display: inline-block;
	padding: 14px 50px;
	border: none;
	border-radius: 55px;
	transition: 0.5s;
	margin-top: 30px;
	color: #fff;
	background: #1E73BE;
}
#hero_beta .btn-get-started:hover {
	background: #3194db;
}
.btn_more {
	font-family: "Poppins", sans-serif;
	font-weight: 500;
	font-size: 14px;
	border: 0px;
	letter-spacing: 0.5px;
	display: inline-block;
	padding: 14px 50px;
	border-radius: 55px;
	transition: 0.5s;
	margin-top: 30px;
	color: #fff;
	background: #1E73BE;
}
.btn_more:hover {
	color: #fff;
	background: #313131;
}
#hero h3 {
	color: #fff;
}
#hero_beta .icon-boxes {
	margin-top: 1px;
}
#hero_beta .icon-box {
	padding: 50px 30px;
	position: relative;
	overflow: hidden;
	background: #fff;
	box-shadow: 0 0 29px 0 rgba(18, 66, 101, 0.08);
	transition: all 0.3s ease-in-out;
	border-radius: 8px;
	z-index: 1;
}
#hero_beta .icon-box_one {
	padding: 50px 30px;
	position: relative;
	margin-bottom: 20px;
	overflow: hidden;
	background-image: linear-gradient(to right, rgba(168,168,168,1), rgba(240,240,240,1));
	box-shadow: 0 0 29px 0 rgba(18, 66, 101, 0.08);
	transition: all 0.3s ease-in-out;
	border-radius: 8px;
	z-index: 1;
}
#hero_beta .icon-box_two {
	padding: 50px 30px;
	position: relative;
	overflow: hidden;
	margin-bottom: 20px;
	background-image: linear-gradient(to right, rgba(227,128,18,1), rgba(252,240,200,1));
	box-shadow: 0 0 29px 0 rgba(18, 66, 101, 0.08);
	transition: all 0.3s ease-in-out;
	border-radius: 8px;
	z-index: 1;
}
#hero_beta .icon-box_three {
	padding: 50px 30px;
	position: relative;
	margin-bottom: 20px;
	overflow: hidden;
	background-image: linear-gradient(to right, rgba(99,99,227,1), rgba(123,123,123,1));
	box-shadow: 0 0 29px 0 rgba(18, 66, 101, 0.08);
	transition: all 0.3s ease-in-out;
	border-radius: 8px;
	z-index: 1;
}
/* The Modal (background) */
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 999999999999999999999999999999999999999999999999999999999999999999; /* Sit on top */
	padding-top: 100px; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
/* Modal Content */
.modal-content {
	background-color: rgba(0,0,0,0.0);
	margin: auto;
	padding: 0px;
	border: 0px solid #888;
	width: 60%;
}
/* The Close Button */
.close {
	color: #aaaaaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}
.close:hover, .close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}
#hero .icon-box .title {
	font-weight: 700;
	margin-bottom: 15px;
	font-size: 18px;
}
#hero .icon-box .title a {
	color: #000;
	transition: 0.3s;
}
#hero .icon-box .description {
	font-size: 13px;
	line-height: 28px;
	margin-bottom: 0;
}
.descriptionp {
	color: #000 !important;
}
#hero .icon-box .icon {
	margin-bottom: 20px;
	padding-top: 10px;
	display: inline-block;
	transition: all 0.3s ease-in-out;
	font-size: 36px;
	line-height: 1;
	color: #000;
}
#hero .icon-box:hover {
	transform: scale(1.08);
}
#hero .icon-box:hover .title a {
	color: #1E73BE;
}

@media (min-width: 1024px) {
#hero {
	background-attachment: fixed;
}
}

@media (max-width: 992px), (max-height: 500) {
#hero {
	height: auto;
}
#hero h1 {
	font-size: 28px;
	line-height: 36px;
}
#hero h2 {
	font-size: 18px;
	line-height: 24px;
}
}
/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero_services {
	width: 100%;
}
#hero_services:before {
	content: "";
	/*  background: rgba(50, 71, 98, 0.8);
*/  
	bottom: 0;
	top: 0;
	left: 0;
	right: 0;
}
#hero_services .container {
	padding-top: 100px;
}
.mtopbanner {
	padding-top: 100px;
}
#hero_services h1 {
	margin: 0;
	font-size: 56px;
	font-weight: 700;
	line-height: 72px;
	color: #fff;
	font-family: "Poppins", sans-serif;
}
#hero_services h3 {
	color: #5e5e5e;
	margin: 10px 0 0 0;
	font-size: 22px;
}
#hero_services p {
	color: #fff;
	font-family: "Poppins", sans-serif;
}
#hero_services .btn-get-started {
	font-family: "Poppins", sans-serif;
	font-weight: 500;
	font-size: 14px;
	letter-spacing: 0.5px;
	display: inline-block;
	padding: 14px 50px;
	border: none;
	border-radius: 55px;
	transition: 0.5s;
	margin-top: 30px;
	color: #fff;
	background: #1E73BE;
}
#hero_services .btn-get-started:hover {
	background: #3194db;
}
.btn_more {
	font-family: "Poppins", sans-serif;
	font-weight: 500;
	font-size: 14px;
	letter-spacing: 0.5px;
	display: inline-block;
	padding: 14px 50px;
	border-radius: 55px;
	transition: 0.5s;
	margin-top: 30px;
	color: #fff;
	background: #1E73BE;
}
.btn_more:hover {
	color: #fff;
	background: #313131;
}
#hero_services h3 {
	color: #fff;
}
#hero_services .icon-boxes {
	margin-top: 1px;
}
#hero_services .icon-box {
	padding: 50px 30px;
	position: relative;
	overflow: hidden;
	background: #fff;
	box-shadow: 0 0 29px 0 rgba(18, 66, 101, 0.08);
	transition: all 0.3s ease-in-out;
	border-radius: 8px;
	z-index: 1;
}
#hero_services .icon-box_one {
	padding: 50px 30px;
	position: relative;
	margin-bottom: 20px;
	overflow: hidden;
	background-image: linear-gradient(to right, rgba(168,168,168,1), rgba(240,240,240,1));
	box-shadow: 0 0 29px 0 rgba(18, 66, 101, 0.08);
	transition: all 0.3s ease-in-out;
	border-radius: 8px;
	z-index: 1;
}
#hero_services .icon-box_two {
	padding: 50px 30px;
	position: relative;
	overflow: hidden;
	margin-bottom: 20px;
	background-image: linear-gradient(to right, rgba(227,128,18,1), rgba(252,240,200,1));
	box-shadow: 0 0 29px 0 rgba(18, 66, 101, 0.08);
	transition: all 0.3s ease-in-out;
	border-radius: 8px;
	z-index: 1;
}
#hero_services .icon-box .title {
	font-weight: 700;
	margin-bottom: 15px;
	font-size: 18px;
}
#hero_services .icon-box .title a {
	color: #000;
	transition: 0.3s;
}
#hero_services .icon-box .description {
	font-size: 15px;
	line-height: 28px;
	margin-bottom: 0;
}
.descriptionp {
	color: #000 !important;
}
#hero_services .icon-box .icon {
	margin-bottom: 20px;
	padding-top: 10px;
	display: inline-block;
	transition: all 0.3s ease-in-out;
	font-size: 36px;
	line-height: 1;
	color: #000;
}
#hero_services .icon-box:hover {
	transform: scale(1.08);
}
#hero_services .icon-box:hover .title a {
	color: #1E73BE;
}

@media (min-width: 1024px) {
#hero_services {
	background-attachment: fixed;
}
}

@media (max-width: 992px), (max-height: 500) {
#hero_services {
	height: auto;
}
#hero_services h1 {
	font-size: 28px;
	line-height: 36px;
}
#hero_services h2 {
	font-size: 18px;
	line-height: 24px;
}
}
/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
	padding: 80px 0 0 0;
}
.row {
	padding: 0px;
	margin: 0px;
}
.section-bg {
	background-color: #f8fbfe;
}
.section-title {
	text-align: center;
	padding-bottom: 50px;
}
.section-title h2 {
	font-size: 32px;
	font-weight: bold;
	font-family: "Raleway", sans-serif;
	margin-bottom: 20px;
	padding-bottom: 0;
	color: #124265;
}
.red {
	margin-top: 10px;
	font-size: 18px;
	font-family: "Raleway", sans-serif;
	padding-bottom: 0;
	color: #E50003;
}
.green1 {
	font-size: 18px;
	margin-top: 10px;
	font-weight: bold;
	text-transform: uppercase;
	font-family: "Raleway", sans-serif;
	padding-bottom: 0;
	color: #36BC00;
}
.green {
	font-size: 17px;
	margin-top: 10px;
	font-weight: bold;
	text-transform: uppercase;
	font-family: "Raleway", sans-serif;
	padding-bottom: 0;
	color: #397709;
}
.depends {
	font-size: 18px;
	font-family: "Raleway", sans-serif;
	padding-bottom: 0;
	color: #000;
}
.prize_title {
	font-size: 42px;
	font-family: "Raleway", sans-serif;
	margin-bottom: 10px;
	padding-bottom: 0;
	color: #000;
}
.services_title {
	font-size: 22px;
	font-family: "Raleway", sans-serif;
	margin-bottom: 10px;
	padding-bottom: 0;
	color: #000;
}
.section-title p {
	margin-bottom: 0;
	font-size: 14px;
	color: #333333;
}
.benfit {
	font-size: 20px !important;
	margin-right: 20px !important;;
}
/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.about .content h3 {
	font-weight: 600;
	font-size: 26px;
}
.about .content ul {
	list-style: none;
	padding: 0;
}
.about .content ul li {
	padding-left: 28px;
	position: relative;
}
.about .content ul li + li {
	margin-top: 10px;
}
.about .content ul i {
	position: absolute;
	left: 0;
	top: 2px;
	font-size: 20px;
	color: #1E73BE;
	line-height: 1;
}
.about .content p:last-child {
	margin-bottom: 0;
}
.about .content .btn-learn-more {
	font-family: "Raleway", sans-serif;
	font-weight: 600;
	font-size: 14px;
	letter-spacing: 1px;
	display: inline-block;
	padding: 12px 32px;
	border-radius: 5px;
	transition: 0.3s;
	line-height: 1;
	color: #1E73BE;
	-webkit-animation-delay: 0.8s;
	animation-delay: 0.8s;
	margin-top: 6px;
	border: 2px solid #1E73BE;
}
.about .content .btn-learn-more:hover {
	background: #1E73BE;
	color: #fff;
	text-decoration: none;
}
/*--------------------------------------------------------------
# Counts
--------------------------------------------------------------*/
.unit {
	font-size: 12px !important;
}
.counts {
	padding: 60px 0;
}
.counts .count-box {
	width: 100%;
	text-align: center;
}
.counts .count-box span {
	font-size: 48px;
	line-height: 48px;
	display: block;
	font-weight: 700;
	color: #124265;
	margin-left: 80px;
	margin: auto;
}
.counts .count-box p {
	padding: 8px 0 0 0;
	font-family: "Raleway", sans-serif;
	font-weight: 600;
	font-size: 14px;
	color: #1e6ca6;
}
.faqli {
	padding: 8px 0 0 0 !important;
}
/*--------------------------------------------------------------
# About Video
--------------------------------------------------------------*/
.about-video .content {
	font-size: 15px;
}
.about-video .content h3 {
	font-weight: 700;
	font-size: 24px;
	color: #124265;
}
.about-video .content ul {
	list-style: none;
	padding: 0;
}
.about-video .content ul li {
	padding-bottom: 10px;
	padding-left: 28px;
	position: relative;
}
.about-video .content ul i {
	font-size: 24px;
	color: #1E73BE;
	position: absolute;
	left: 0;
	top: -2px;
}
.about-video .content p:last-child {
	margin-bottom: 0;
}
.about-video .play-btn {
	width: 94px;
	height: 94px;
	background: radial-gradient(#1E73BE 50%, rgba(36, 135, 206, 0.4) 52%);
	border-radius: 50%;
	display: block;
	position: absolute;
	left: calc(50% - 47px);
	top: calc(50% - 47px);
	overflow: hidden;
}
.about-video .play-btn::after {
	content: '';
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translateX(-40%) translateY(-50%);
	width: 0;
	height: 0;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-left: 15px solid #fff;
	z-index: 100;
	transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.about-video .play-btn::before {
	content: '';
	position: absolute;
	width: 120px;
	height: 120px;
	-webkit-animation-delay: 0s;
	animation-delay: 0s;
	-webkit-animation: pulsate-btn 2s;
	animation: pulsate-btn 2s;
	-webkit-animation-direction: forwards;
	animation-direction: forwards;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	-webkit-animation-timing-function: steps;
	animation-timing-function: steps;
	opacity: 1;
	border-radius: 50%;
	border: 5px solid rgba(36, 135, 206, 0.7);
	top: -15%;
	left: -15%;
	background: rgba(198, 16, 0, 0);
}
.about-video .play-btn:hover::after {
	border-left: 15px solid #1E73BE;
	transform: scale(20);
}
.about-video .play-btn:hover::before {
	content: '';
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translateX(-40%) translateY(-50%);
	width: 0;
	height: 0;
	border: none;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-left: 15px solid #fff;
	z-index: 200;
	-webkit-animation: none;
	animation: none;
	border-radius: 0;
}
 @-webkit-keyframes pulsate-btn {
 0% {
 transform: scale(0.6, 0.6);
 opacity: 1;
}
 100% {
 transform: scale(1, 1);
 opacity: 0;
}
}
 @keyframes pulsate-btn {
 0% {
 transform: scale(0.6, 0.6);
 opacity: 1;
}
 100% {
 transform: scale(1, 1);
 opacity: 0;
}
}
/*--------------------------------------------------------------
# Clients
--------------------------------------------------------------*/


.registration-form {
	padding: 0px 0;
	z-index: 9999999999999999999999999999999999999999999999999999999999999999 !important;
}
.registration-form form {
	background-color: #fff;
	max-width: 600px;
	margin: auto;
	padding: 40px 40px;
	border-radius: 30px;
	box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
}
.registration-form .form-icon {
	text-align: center;
	background-color: #5891ff;
	border-radius: 50%;
	font-size: 40px;
	color: white;
	width: 100px;
	height: 100px;
	margin: auto;
	margin-bottom: 50px;
	line-height: 100px;
}
.registration-form .item {
	border-radius: 20px;
	margin-bottom: 25px;
	padding: 20px 20px;
}
.registration-form .create-account {
	border-radius: 30px;
	padding: 10px 20px;
	font-size: 18px;
	font-weight: bold;
	background-color: #5791ff;
	border: none;
	color: white;
	margin-top: 20px;
}
.registration-form .social-media {
	max-width: 600px;
	background-color: #fff;
	margin: auto;
	padding: 35px 0;
	text-align: center;
	border-bottom-left-radius: 30px;
	border-bottom-right-radius: 30px;
	color: #9fadca;
	border-top: 1px solid #dee9ff;
	box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
}
.registration-form .social-icons {
	margin-top: 30px;
	margin-bottom: 16px;
}
.registration-form .social-icons a {
	font-size: 23px;
	margin: 0 3px;
	color: #5691ff;
	border: 1px solid;
	border-radius: 50%;
	width: 45px;
	display: inline-block;
	height: 45px;
	text-align: center;
	background-color: #fff;
	line-height: 45px;
}
.registration-form .social-icons a:hover {
	text-decoration: none;
	opacity: 0.6;
}

@media (max-width: 576px) {
.registration-form form {
	padding: 50px 20px;
}
.registration-form .form-icon {
	width: 70px;
	height: 70px;
	font-size: 30px;
	line-height: 70px;
}
}
.clients {
	padding: 15px 0;
	text-align: center;
}
.clients img {
	max-width: 45%;
	transition: all 0.4s ease-in-out;
	display: inline-block;
	padding: 15px 0;
	-webkit-filter: grayscale(100);
	filter: grayscale(100);
}
.clients img:hover {
	-webkit-filter: none;
	filter: none;
	transform: scale(1.15);
}

@media (max-width: 768px) {
.clients img {
	max-width: 40%;
}
}
/*--------------------------------------------------------------
# Testimonials
--------------------------------------------------------------*/
.testimonials .testimonial-item {
	box-sizing: content-box;
	text-align: center;
	min-height: 320px;
}
.testimonials .testimonial-item .testimonial-img {
	width: 90px;
	border-radius: 50%;
	margin: 0 auto;
}
.testimonials .testimonial-item h3 {
	font-size: 18px;
	font-weight: bold;
	margin: 10px 0 5px 0;
	color: #111;
}
.testimonials .testimonial-item h4 {
	font-size: 14px;
	color: #999;
	margin: 0;
}
.testimonials .testimonial-item .quote-icon-left, .testimonials .testimonial-item .quote-icon-right {
	color: #c9e3f5;
	font-size: 26px;
}
.testimonials .testimonial-item .quote-icon-left {
	display: inline-block;
	left: -5px;
	position: relative;
}
.testimonials .testimonial-item .quote-icon-right {
	display: inline-block;
	right: -5px;
	position: relative;
	top: 10px;
}
.testimonials .testimonial-item p {
	font-style: italic;
	margin: 0 15px 15px 15px;
	padding: 20px;
	background: #f3f9fd;
	position: relative;
	margin-bottom: 35px;
	border-radius: 6px;
}
.testimonials .testimonial-item p::after {
	content: "";
	width: 0;
	height: 0;
	border-top: 20px solid #f3f9fd;
	border-right: 20px solid transparent;
	border-left: 20px solid transparent;
	position: absolute;
	bottom: -20px;
	left: calc(50% - 20px);
}
.testimonials .owl-nav, .testimonials .owl-dots {
	margin-top: 5px;
	text-align: center;
}
.testimonials .owl-dot {
	display: inline-block;
	margin: 0 5px;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	background-color: #ddd !important;
}
.testimonials .owl-dot.active {
	background-color: #1E73BE !important;
}

@media (max-width: 767px) {
.testimonials {
	margin: 30px 10px;
}
}
/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
.services .icon-box {
	text-align: center;
	padding: 20px;
	margin-bottom: 20px;
	transition: all ease-in-out 0.3s;
	background: #fff;
	box-shadow: 0px 5px 90px 0px rgba(110, 123, 131, 0.05);
}
.services .icon-box .icon {
	margin: 0 auto;
	width: 100px;
	height: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: ease-in-out 0.3s;
	position: relative;
}
.services .icon-box .icon i {
	font-size: 36px;
	transition: 0.5s;
	position: relative;
}
.services .icon-box .icon svg {
	position: absolute;
	top: 0;
	left: 0;
}
.services .icon-box .icon svg path {
	transition: 0.5s;
	fill: #f5f5f5;
}
.services .icon-box h4 {
	font-weight: 600;
	margin: 10px 0 15px 0;
	font-size: 22px;
}
.services .icon-box h4 a {
	color: #124265;
	transition: ease-in-out 0.3s;
}
.services .icon-box p {
	line-height: 24px;
	font-size: 14px;
	margin-bottom: 0;
}
.services .icon-box:hover {
	border-color: #fff;
	box-shadow: 0px 0 35px 0 rgba(0, 0, 0, 0.08);
}
.services .iconbox-blue i {
	color: #47aeff;
}
.services .iconbox-blue:hover .icon i {
	color: #fff;
}
.services .iconbox-blue:hover .icon path {
	fill: #47aeff;
}
.services .iconbox-orange i {
	color: #ffa76e;
}
.services .iconbox-orange:hover .icon i {
	color: #fff;
}
.services .iconbox-orange:hover .icon path {
	fill: #ffa76e;
}
.services .iconbox-pink i {
	color: #e80368;
}
.services .iconbox-pink:hover .icon i {
	color: #fff;
}
.services .iconbox-pink:hover .icon path {
	fill: #e80368;
}
.services .iconbox-yellow i {
	color: #ffbb2c;
}
.services .iconbox-yellow:hover .icon i {
	color: #fff;
}
.services .iconbox-yellow:hover .icon path {
	fill: #ffbb2c;
}
.services .iconbox-red i {
	color: #ff5828;
}
.services .iconbox-red:hover .icon i {
	color: #fff;
}
.services .iconbox-red:hover .icon path {
	fill: #ff5828;
}
.services .iconbox-teal i {
	color: #11dbcf;
}
.services .iconbox-teal:hover .icon i {
	color: #fff;
}
.services .iconbox-teal:hover .icon path {
	fill: #11dbcf;
}
/*--------------------------------------------------------------
# Cta
--------------------------------------------------------------*/
.cta {
	background: rgb(255,255,255);
	background: linear-gradient(270deg, rgba(255,255,255,1) 52%, rgba(76,91,108,1) 52%);
	padding: 60px 0;
}
.cta h3 {
	color: #fff;
	font-size: 28px;
	font-weight: 700;
}
.cta p {
	color: #fff;
}
.ctaimg {
	text-align: center;
}

@media (max-width: 768px) {
.cta {
	background: rgb(255,255,255);
	background: linear-gradient(270deg, rgba(76,91,108,1) 52%, rgba(76,91,108,1) 52%);
	padding: 60px 0;
}
.ctaimg {
	text-align: center;
	margin-top: 20px;
}
.cta {
	text-align: center;
}
.cta h3 {
	color: #fff;
	font-size: 28px;
	font-weight: 700;
}
.cta p {
	color: #fff;
}
}
.planimg {
}
.planimg img {
	width: 90% !important;
	height: 100px
}
.ctaimg img {
	width: 55% !important;
}
.cta .cta-btn {
	font-family: "Raleway", sans-serif;
	font-weight: 600;
	font-size: 14px;
	letter-spacing: 1px;
	display: inline-block;
	padding: 10px 35px;
	border-radius: 5px;
	transition: 0.5s;
	margin-top: 10px;
	border: 2px solid #fff;
	color: #fff;
}
.cta .cta-btn:hover {
	background: #fff;
	color: #1E73BE;
}
/*--------------------------------------------------------------
# Cta
--------------------------------------------------------------*/
.cta2 {
	margin-top: 5%;
	background: rgb(255,255,255);
	background: linear-gradient(270deg, rgba(76,91,108,1) 52%, rgba(255,255,255,1) 52%);
	padding: 60px 0;
}
.cta2 h3 {
	color: #fff;
	font-size: 28px;
	font-weight: 700;
}
.cta2 p {
	color: #fff;
}
.cta2img {
	text-align: center;
}

@media (max-width: 768px) {
.cta2 {
	background: rgb(255,255,255);
	background: linear-gradient(270deg, rgba(76,91,108,1) 52%, rgba(76,91,108,1) 52%);
	padding: 60px 0;
}
.cta2img {
	text-align: center;
	margin-top: 20px;
}
.cta2 {
	text-align: center;
}
.cta2 h3 {
	color: #fff;
	font-size: 28px;
	font-weight: 700;
}
.cta2 p {
	color: #fff;
}
}
.planimg {
}
.planimg img {
	width: 90% !important;
	height: 100px
}
.cta2img img {
	width: 55% !important;
}
.cta2 .cta2-btn {
	font-family: "Raleway", sans-serif;
	font-weight: 600;
	font-size: 14px;
	letter-spacing: 1px;
	display: inline-block;
	padding: 10px 35px;
	border-radius: 5px;
	transition: 0.5s;
	margin-top: 10px;
	border: 2px solid #fff;
	color: #fff;
}
.cta2 .cta2-btn:hover {
	background: #fff;
	color: #1E73BE;
}
/*--------------------------------------------------------------
# Portfolio
--------------------------------------------------------------*/
.portfolio .portfolio-item {
	margin-bottom: 30px;
}
.portfolio #portfolio-flters {
	padding: 0;
	margin: 0 auto 35px auto;
	list-style: none;
	text-align: center;
	border-radius: 50px;
	padding: 2px 15px;
}
.portfolio #portfolio-flters li {
	cursor: pointer;
	display: inline-block;
	padding: 10px 15px 8px 15px;
	font-size: 14px;
	font-weight: 600;
	line-height: 1;
	text-transform: uppercase;
	color: #444444;
	margin-bottom: 5px;
	transition: all 0.3s ease-in-out;
}
.portfolio #portfolio-flters li:hover, .portfolio #portfolio-flters li.filter-active {
	color: #1E73BE;
}
.portfolio #portfolio-flters li:last-child {
	margin-right: 0;
}
.portfolio .portfolio-wrap {
	transition: 0.3s;
	position: relative;
	overflow: hidden;
	z-index: 1;
}
.portfolio .portfolio-wrap::before {
	content: "";
	background: rgba(36, 135, 206, 0.6);
	position: absolute;
	left: 30px;
	right: 30px;
	top: 30px;
	bottom: 30px;
	transition: all ease-in-out 0.3s;
	z-index: 2;
	opacity: 0;
}
.portfolio .portfolio-wrap .portfolio-info {
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	text-align: center;
	z-index: 3;
	transition: all ease-in-out 0.3s;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.portfolio .portfolio-wrap .portfolio-info::before {
	display: block;
	content: "";
	width: 48px;
	height: 48px;
	position: absolute;
	top: 35px;
	left: 35px;
	border-top: 3px solid #fff;
	border-left: 3px solid #fff;
	transition: all 0.5s ease 0s;
	z-index: 9994;
}
.portfolio .portfolio-wrap .portfolio-info::after {
	display: block;
	content: "";
	width: 48px;
	height: 48px;
	position: absolute;
	bottom: 35px;
	right: 35px;
	border-bottom: 3px solid #fff;
	border-right: 3px solid #fff;
	transition: all 0.5s ease 0s;
	z-index: 9994;
}
.portfolio .portfolio-wrap .portfolio-info h4 {
	font-size: 20px;
	color: #fff;
	font-weight: 600;
}
.portfolio .portfolio-wrap .portfolio-info p {
	color: #ffffff;
	font-size: 14px;
	text-transform: uppercase;
	padding: 0;
	margin: 0;
}
.portfolio .portfolio-wrap .portfolio-links {
	text-align: center;
	z-index: 4;
}
.portfolio .portfolio-wrap .portfolio-links a {
	color: rgba(255, 255, 255, 0.6);
	margin: 0 2px;
	font-size: 28px;
	display: inline-block;
	transition: 0.3s;
}
.portfolio .portfolio-wrap .portfolio-links a:hover {
	color: #fff;
}
.portfolio .portfolio-wrap:hover::before {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 1;
}
.portfolio .portfolio-wrap:hover .portfolio-info {
	opacity: 1;
}
.portfolio .portfolio-wrap:hover .portfolio-info::before {
	top: 15px;
	left: 15px;
}
.portfolio .portfolio-wrap:hover .portfolio-info::after {
	bottom: 15px;
	right: 15px;
}
/*--------------------------------------------------------------
# Team
--------------------------------------------------------------*/
.team .member {
	margin-bottom: 20px;
	overflow: hidden;
	text-align: center;
	border-radius: 4px;
	background: #fff;
	box-shadow: 0px 2px 15px rgba(18, 66, 101, 0.08);
}
.team .member .member-img {
	position: relative;
	overflow: hidden;
}
.team .member .social {
	position: absolute;
	left: 0;
	bottom: 0;
	right: 0;
	height: 40px;
	opacity: 0;
	transition: ease-in-out 0.3s;
	text-align: center;
	background: rgba(255, 255, 255, 0.85);
}
.team .member .social a {
	transition: color 0.3s;
	color: #124265;
	margin: 0 10px;
	padding-top: 8px;
	display: inline-block;
}
.team .member .social a:hover {
	color: #1E73BE;
}
.team .member .social i {
	font-size: 18px;
	margin: 0 2px;
}
.team .member .member-info {
	padding: 25px 15px;
}
.team .member .member-info h4 {
	font-weight: 700;
	margin-bottom: 5px;
	font-size: 18px;
	color: #124265;
}
.team .member .member-info span {
	display: block;
	font-size: 13px;
	font-weight: 400;
	color: #aaaaaa;
}
.team .member .member-info p {
	font-style: italic;
	font-size: 14px;
	line-height: 26px;
	color: #777777;
}
.team .member:hover .social {
	opacity: 1;
}
/*--------------------------------------------------------------
# Pricing
--------------------------------------------------------------*/
.pricing .box {
	padding: 40px 20px;
	text-align: center;
	border-radius: 8px;
	position: relative;
	overflow: hidden;
	background: #fefefe;
	box-shadow: 0px 5px 90px 0px rgba(110, 123, 131, 0.1);
}
.pricing .box h3 {
	font-weight: 400;
	padding: 15px;
	font-size: 18px;
	font-weight: 600;
	color: #124265;
}
.pricing .box h4 {
	font-size: 42px;
	color: #1E73BE;
	font-weight: 500;
	font-family: "Open Sans", sans-serif;
	margin-bottom: 20px;
}
.pricing .box h4 sup {
	font-size: 20px;
	top: -15px;
	left: -3px;
}
.pricing .box h4 span {
	color: #bababa;
	font-size: 16px;
	font-weight: 300;
}
.pricing .box ul {
	padding: 0;
	list-style: none;
	color: #124265;
	text-align: center;
	line-height: 20px;
	font-size: 14px;
}
.pricing .box ul li {
	padding-bottom: 16px;
}
.pricing .box ul .na {
	color: #ccc;
	text-decoration: line-through;
}
.pricing .box .btn-wrap {
	padding: 15px;
	text-align: center;
}
.pricing .box .btn-buy {
	display: inline-block;
	padding: 10px 40px;
	border-radius: 4px;
	color: #1E73BE;
	transition: none;
	font-size: 14px;
	font-weight: 400;
	font-family: "Raleway", sans-serif;
	font-weight: 600;
	transition: 0.3s;
	border: 2px solid #1E73BE;
}
.pricing .box .btn-buy:hover {
	background: #1E73BE;
	color: #fff;
}
.pricing .featured {
	background: #1E73BE;
}
.pricing .featured h3, .pricing .featured h4, .pricing .featured h4 span, .pricing .featured ul, .pricing .featured ul .na {
	color: #fff;
}
.pricing .featured .btn-wrap {
	padding: 15px;
	text-align: center;
}
.pricing .featured .btn-buy {
	color: #fff;
	border: 2px solid #fff;
}
.pricing .featured .btn-buy:hover {
	background: #fff;
	color: #1E73BE;
}
/*--------------------------------------------------------------
# Frequently Asked Questions
--------------------------------------------------------------*/
.faq .faq-list {
	padding: 0 5px;
	width: 100%;
}
.section-bg {
	width: 100%;
}
.faq .section {
	padding: 0px;
}
.faq h3 {
	margin-bottom: 15px;
}
.faq .faq-list ul {
	padding: 0;
	list-style: none;
}
.faq .faq-list li + li {
	margin-top: 20px;
}
.faq .faq-list li {
	padding: 20px;
	background: #fff;
	border-radius: 4px;
	position: relative;
}
.faq .faq-list a {
	display: block;
	position: relative;
	font-family: "Poppins", sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 500;
	padding: 0px;
	padding-left: 30px;
	outline: none;
}
.faq .faq-list .icon-help {
	font-size: 24px;
	position: absolute;
	right: 0;
	left: 20px;
	color: #87c1ea;
}
.faq .faq-list .icon-show, .faq .faq-list .icon-close {
	font-size: 24px;
	position: absolute;
	right: 0;
	top: 0;
}
.faq .faq-list p {
	margin-bottom: 0;
	padding: 10px 0 0 0;
}
.faq .faq-list .icon-show {
	display: none;
}
.faq .faq-list a.collapsed {
	color: #343a40;
	padding-left: 30px;
}
.faq .faq-list a.collapsed:hover {
	color: #1E73BE;
	padding-left: 30px;
}
.faq .faq-list a.collapsed .icon-show {
	display: inline-block;
	padding-left: 30px;
}
.faq .faq-list a.collapsed .icon-close {
	display: none;
}

@media (max-width: 1200px) {
.faq .faq-list {
	padding: 0;
}
}
/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact .info {
	width: 100%;
	background: #fff;
}
.contact .info i {
	font-size: 20px;
	color: #1E73BE;
	float: left;
	width: 44px;
	height: 44px;
	background: #e3f0fa;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 5px;
	transition: all 0.3s ease-in-out;
}
.contact .info h4 {
	padding: 0 0 0 60px;
	font-size: 22px;
	font-weight: 600;
	margin-bottom: 5px;
	color: #124265;
}
.contact .info p {
	padding: 0 0 0 60px;
	margin-bottom: 0;
	font-size: 14px;
	color: #217bbc;
}
.contact .info .email, .contact .info .phone {
	margin-top: 40px;
}
.contact .info .email:hover i, .contact .info .address:hover i, .contact .info .phone:hover i {
	background: #1E73BE;
	color: #fff;
}
.contact .php-email-form {
	width: 100%;
	background: #fff;
}
.contact .php-email-form .form-group {
	padding-bottom: 8px;
}
.contact .php-email-form .validate {
	display: none;
	color: red;
	margin: 0 0 15px 0;
	font-weight: 400;
	font-size: 13px;
}
.contact .php-email-form .error-message {
	display: none;
	color: #fff;
	background: #ed3c0d;
	text-align: left;
	padding: 15px;
	font-weight: 600;
}
.contact .php-email-form .error-message br + br {
	margin-top: 25px;
}
.contact .php-email-form .sent-message {
	display: none;
	color: #fff;
	background: #18d26e;
	text-align: center;
	padding: 15px;
	font-weight: 600;
}
.contact .php-email-form .loading {
	display: none;
	background: #fff;
	text-align: center;
	padding: 15px;
}
.contact .php-email-form .loading:before {
	content: "";
	display: inline-block;
	border-radius: 50%;
	width: 24px;
	height: 24px;
	margin: 0 10px -6px 0;
	border: 3px solid #18d26e;
	border-top-color: #eee;
	-webkit-animation: animate-loading 1s linear infinite;
	animation: animate-loading 1s linear infinite;
}
.contact .php-email-form input, .contact .php-email-form textarea {
	border-radius: 0;
	box-shadow: none;
	font-size: 14px;
	border-radius: 4px;
}
.contact .php-email-form input:focus, .contact .php-email-form textarea:focus {
	border-color: #1E73BE;
}
.contact .php-email-form input {
	height: 44px;
}
.contact .php-email-form textarea {
	padding: 10px 12px;
}
.contact .php-email-form button[type="submit"] {
	background: #1E73BE;
	border: 0;
	padding: 10px 30px;
	color: #fff;
	transition: 0.4s;
	border-radius: 4px;
}
.contact .php-email-form button[type="submit"]:hover {
	background: #3194db;
}
 @-webkit-keyframes animate-loading {
 0% {
 transform: rotate(0deg);
}
 100% {
 transform: rotate(360deg);
}
}
 @keyframes animate-loading {
 0% {
 transform: rotate(0deg);
}
 100% {
 transform: rotate(360deg);
}
}
/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/
.breadcrumbs {
	padding: 15px 0;
	background: #f8fbfe;
	min-height: 40px;
	margin-top: 80px;
}

@media (max-width: 992px) {
.breadcrumbs {
	margin-top: 62px;
}
}
.breadcrumbs h2 {
	font-size: 24px;
	font-weight: 300;
}
.breadcrumbs ol {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	padding: 0;
	margin: 0;
	font-size: 14px;
}
.breadcrumbs ol li + li {
	padding-left: 10px;
}
.breadcrumbs ol li + li::before {
	display: inline-block;
	padding-right: 10px;
	color: #1a5e90;
	content: "/";
}

@media (max-width: 768px) {
.breadcrumbs .d-flex {
	display: block !important;
}
.breadcrumbs ol {
	display: block;
}
.breadcrumbs ol li {
	display: inline-block;
}
}
/*--------------------------------------------------------------
# Portfolio Details
--------------------------------------------------------------*/
.portfolio-details {
	padding-top: 40px;
}
.portfolio-details .portfolio-details-container {
	position: relative;
}
.portfolio-details .portfolio-details-carousel {
	position: relative;
	z-index: 1;
}
.portfolio-details .portfolio-details-carousel .owl-nav, .portfolio-details .portfolio-details-carousel .owl-dots {
	margin-top: 5px;
	text-align: left;
}
.portfolio-details .portfolio-details-carousel .owl-dot {
	display: inline-block;
	margin: 0 10px 0 0;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	background-color: #ddd !important;
}
.portfolio-details .portfolio-details-carousel .owl-dot.active {
	background-color: #1E73BE !important;
}
.portfolio-details .portfolio-info {
	padding: 30px;
	position: absolute;
	right: 0;
	bottom: -70px;
	background: #fff;
	box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
	z-index: 2;
}
.portfolio-details .portfolio-info h3 {
	font-size: 22px;
	font-weight: 700;
	margin-bottom: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid #eee;
}
.portfolio-details .portfolio-info ul {
	list-style: none;
	padding: 0;
	font-size: 15px;
}
.portfolio-details .portfolio-info ul li + li {
	margin-top: 10px;
}
.portfolio-details .portfolio-description {
	padding-top: 50px;
}
.portfolio-details .portfolio-description h2 {
	width: 50%;
	font-size: 26px;
	font-weight: 700;
	margin-bottom: 20px;
}
.portfolio-details .portfolio-description p {
	padding: 0 0 0 0;
}

@media (max-width: 768px) {
.portfolio-details .portfolio-description h2 {
	width: 100%;
}
.portfolio-details .portfolio-info {
	position: static;
	margin-top: 30px;
}
}
/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.socialimg {
	padding: 10px;
}
.wit {
	color: #fff;
}
#footer {
	color: #444444;
	font-size: 14px;
	height: auto;
	width: 100%;
	background: url("../img/assets/footer.png") top center;
	background-size: cover;
}
#footer .footer-top {
	padding: 60px 0 30px 0;
	background: #fff;
}
#footer .footer-top .footer-contact {
	margin-bottom: 30px;
}
#footer .footer-top .footer-contact h3 {
	font-size: 26px;
	margin: 0 0 10px 0;
	padding: 2px 0 2px 0;
	line-height: 1;
	font-weight: 300;
}
#footer .footer-top .footer-contact p {
	font-size: 14px;
	line-height: 24px;
	margin-bottom: 0;
	font-family: "Raleway", sans-serif;
	color: #777777;
}
#footer .footer-top h4 {
	font-size: 16px;
	font-weight: bold;
	color: #124265;
	position: relative;
	padding-bottom: 12px;
}
#footer .footer-top .footer-links {
	margin-bottom: 30px;
}
#footer .footer-top .footer-links ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
#footer .footer-top .footer-links ul i {
	padding-right: 2px;
	color: #1E73BE;
	font-size: 18px;
	line-height: 1;
}
#footer .footer-top .footer-links ul li {
	padding: 10px 0;
	display: flex;
	align-items: center;
}
#footer .footer-top .footer-links ul li:first-child {
	padding-top: 0;
}
#footer .footer-top .footer-links ul a {
	color: #777777;
	transition: 0.3s;
	display: inline-block;
	line-height: 1;
}
#footer a {
	color: #fff;
	font-size: 24px;
}
#footer .footer-top .footer-links ul a:hover {
	text-decoration: none;
	color: #1E73BE;
}
#footer .footer-newsletter {
	font-size: 15px;
}
#footer .footer-newsletter h4 {
	font-size: 16px;
	font-weight: bold;
	color: #444444;
	position: relative;
	padding-bottom: 12px;
}
#footer .footer-newsletter form {
	margin-top: 30px;
	background: #fff;
	padding: 6px 10px;
	position: relative;
	border-radius: 5px;
	text-align: left;
	border: 1px solid #cde5f6;
}
#footer .footer-newsletter form input[type="email"] {
	border: 0;
	padding: 4px 8px;
	width: calc(100% - 100px);
}
#footer .footer-newsletter form input[type="submit"] {
	position: absolute;
	top: -1px;
	right: -2px;
	bottom: -1px;
	border: 0;
	background: none;
	font-size: 16px;
	padding: 0 20px 2px 20px;
	background: #1E73BE;
	color: #fff;
	transition: 0.3s;
	border-radius: 0 5px 5px 0;
	box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}
#footer .footer-newsletter form input[type="submit"]:hover {
	background: #3194db;
}
#footer .credits {
	padding-top: 5px;
	font-size: 13px;
	color: #444444;
}
#footer .social-links a {
	font-size: 18px;
	display: inline-block;
	background: #1E73BE;
	color: #fff;
	line-height: 1;
	padding: 8px 0;
	margin-right: 4px;
	border-radius: 5px;
	text-align: center;
	width: 36px;
	height: 36px;
	transition: 0.3s;
}
#footer .social-links a:hover {
	background: #3194db;
	color: #fff;
	text-decoration: none;
}
.footer_lin {
	background: #4c5b6c;
	border-bottom: 1px solid #222222;
	padding: 30px 0 30px 0;
	text-align: center;
	float: left;
	width: 100%;
}
.footer_lin ul {
	width: 100%;
	list-style: none;
	padding: 0;
	margin: 0;
	float: left;
	text-align: center;
}
.footer_lin ul li {
	width: 20%;
	float: left;
	padding: 2px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	text-align: center;
	align-items: center;
	color: aliceblue;
}
.footer_lin ul li {
	color: #fff;
	font-size: 13px;
}
.footer_lin ul li a {
	color: #fff;
	font-size: 13px;
}
.footer_lin ul li a:hover {
	color: #3e9bdd;
}
