
<!-- ======= Header ======= -->
<header id="header" class="fixed-top services_header">
  <div class="container d-flex align-items-center">
    <h1 class="logo mr-auto"><a routerLink="/home" > <img src="assets/img/logo.png" class="img-fluid" alt=""></a></h1>
    <nav class="nav-menu d-none d-lg-block">
      <ul>
        <li><a routerLink="/home" >Home</a></li>
        <li><a routerLink="/services" >Services</a></li>
        <li class="active"><a routerLink="/faq" >FAQ</a></li>
        <!--<li><a href="login.html">Log in/Sign Up</a></li>-->
        
        <!--  <li class="drop-down"><a href="">Drop Down</a>
            <ul>
              <li><a href="#">Drop Down 1</a></li>
              <li class="drop-down"><a href="#">Deep Drop Down</a>
                <ul>
                  <li><a href="#">Deep Drop Down 1</a></li>
                  <li><a href="#">Deep Drop Down 2</a></li>
                  <li><a href="#">Deep Drop Down 3</a></li>
                  <li><a href="#">Deep Drop Down 4</a></li>
                  <li><a href="#">Deep Drop Down 5</a></li>
                </ul>
              </li>
              <li><a href="#">Drop Down 2</a></li>
              <li><a href="#">Drop Down 3</a></li>
              <li><a href="#">Drop Down 4</a></li>
            </ul>
          </li>-->
        
      </ul>
    </nav>
    <!-- .nav-menu --> 
    
    <!-- <a href="login.html" class="get-started-btn">Log in/Sign Up</a> --></div>
</header>
<main id="main">
    <section id="about-video" class="about-video">
      <div class="container aos-init aos-animate" data-aos="fade-up" data-aos="fade-up" data-aos-delay="100">
      <div class="section-title mt-5">
        <h2>PRIVACY POLICY </h2>
      </div>
      <div class="row">
        <div id="Content">
          <div class="content_wrapper clearfix">
            <div class="sections_group">
              <div class="entry-content" itemprop="mainContentOfPage">
                <div class="section the_content has_content">
                  <div class="section_wrapper">
                    <div class="the_content_wrapper">
                      <h2>Privacy policy for Maverix pro</h2>
                      <p>Our website address is: https://www.maverixpro.com.</p>
                      <p>At&nbsp;Maverixpro, accessible at&nbsp;maverixpro.com, one of our main priorities is the privacy of our visitors. This Privacy Policy document contains types of information that is collected and recorded by&nbsp;Maverixpro&nbsp;and how we use it.</p>
                      <p>If you have additional questions or require more information about our Privacy Policy, do not hesitate to contact us through email at&nbsp;connect@maverixpro.com</p>
                      <p>This privacy policy applies only to our online activities and is valid for visitors to our website with regards to the information that they shared and/or collect in&nbsp;Maverixpro. This policy is not applicable to any information collected offline or via channels other than this website.</p>
                      <h3>consent</h3>
                      <p>By using our website, you hereby consent to our Privacy Policy and agree to its terms.</p>
                      <h3>Information we collect</h3>
                      <p>The personal information that you are asked to provide, and the reasons why you are asked to provide it, will be made clear to you at the point we ask you to provide your personal information.</p>
                      <p>If you contact us directly, we may receive additional information about you such as your name, email address, phone number, the contents of the message and/or attachments you may send us, and any other information you may choose to provide.</p>
                      <p>When you register for an Account, we may ask for your contact information, including items such as name, company name, address, email address, and telephone number.</p>
                      <h3>How we use your information</h3>
                      <p>We use the information we collect in various ways, including to:</p>
                      <ul>
                        <li>Provide, operate, and maintain our webste</li>
                        <li>Improve, personalize, and expand our webste</li>
                        <li>Understand and analyze how you use our webste</li>
                        <li>Develop new products, services, features, and functionality</li>
                        <li>Communicate with you, either directly or through one of our partners, including for customer service, to provide you with updates and other information relating to the webste, and for marketing and promotional purposes</li>
                        <li>Send you emails</li>
                        <li>Find and prevent fraud</li>
                      </ul>
                      <h3>Log<strong> </strong>Files</h3>
                      <p>Maverixpro&nbsp;follows a standard procedure of using log files. These files log visitors when they visit websites. All hosting companies do this and a part of hosting services’ analytics. The information collected by log files include internet protocol (IP) addresses, browser type, Internet Service Provider (ISP), date and time stamp, referring/exit pages, and possibly the number of clicks. These are not linked to any information that is personally identifiable. The purpose of the information is for analyzing trends, administering the site, tracking users’ movement on the website, and gathering demographic information.</p>
                      <h3>Cookies and Web Beacons</h3>
                      <p>Like any other website,&nbsp;Maverixpro&nbsp;uses ‘cookies’. These cookies are used to store information including visitors’ preferences, and the pages on the website that the visitor accessed or visited. The information is used to optimize the users’ experience by customizing our web page content based on visitors’ browser type and/or other information.</p>
                      <h3>Advertising Partners Privacy Policies</h3>
                      <p>You may consult this list to find the Privacy Policy for each of the advertising partners of&nbsp;Maverixpro.</p>
                      <p>Third-party ad servers or ad networks uses technologies like cookies, JavaScript, or Web Beacons that are used in their respective advertisements and links that appear on Maverixpro, which are sent directly to users’ browser. They automatically receive your IP address when this occurs. These technologies are used to measure the effectiveness of their advertising campaigns and/or to personalize the advertising content that you see on websites that you visit.</p>
                      <h3>Third-Party Privacy Policies</h3>
                      <p>Maverixpro Privacy Policy does not apply to other advertisers or websites. Thus, we are advising you to consult the respective Privacy Policies of these third-party ad servers for more detailed information. It may include their practices and instructions about how to opt-out of certain options. You may find a complete list of these Privacy Policies and their links here: Privacy Policy Links.</p>
                      <p>You can choose to disable cookies through your individual browser options. To know more detailed information about cookie management with specific web browsers, it can be found at the browsers’ respective websites. What Are Cookies?</p>
                      <h3>CCPA Privacy Policy (Do Not Sell My Personal Information)</h3>
                      <p>Under the CCPA, among other rights, California consumers have the right to:</p>
                      <p>Request that a business that collects a consumer’s personal data disclose the categories and specific pieces of personal data that a business has collected about consumers.</p>
                      <p>Request that a business delete any personal data about the consumer that a business has collected.</p>
                      <p>If you make a request, we have one month to respond to you. If you would like to exercise any of these rights, please contact us.</p>
                    </div>
                  </div>
                </div>
                <div class="section section-page-footer">
                  <div class="section_wrapper clearfix">
                    <div class="column one page-pager"> </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
    </section>
  </main>