
<!-- ======= Header ======= -->
<header id="header" class="fixed-top services_header">
    <div class="container d-flex align-items-center">
      <h1 class="logo mr-auto"><a routerLink="/home" > <img src="assets/img/logo.png" class="img-fluid" alt=""></a></h1>
      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li><a routerLink="/home" >Home</a></li>
          <li class="active"><a routerLink="/services" >Services</a></li>
          <li><a routerLink="/faq" >FAQ</a></li>
          <!--<li><a href="login.html">Log in/Sign Up</a></li>-->
          
          <!--  <li class="drop-down"><a href="">Drop Down</a>
              <ul>
                <li><a href="#">Drop Down 1</a></li>
                <li class="drop-down"><a href="#">Deep Drop Down</a>
                  <ul>
                    <li><a href="#">Deep Drop Down 1</a></li>
                    <li><a href="#">Deep Drop Down 2</a></li>
                    <li><a href="#">Deep Drop Down 3</a></li>
                    <li><a href="#">Deep Drop Down 4</a></li>
                    <li><a href="#">Deep Drop Down 5</a></li>
                  </ul>
                </li>
                <li><a href="#">Drop Down 2</a></li>
                <li><a href="#">Drop Down 3</a></li>
                <li><a href="#">Drop Down 4</a></li>
              </ul>
            </li>-->
          
        </ul>
      </nav>
      <!-- .nav-menu --> 
      
      <!-- <a href="login.html" class="get-started-btn">Log in/Sign Up</a> --></div>
  </header>
  <!-- End Header -->
  
  <main id="main">
    <section id="about-video" class="about-video">
      <div class="container aos-init aos-animate" data-aos="fade-up" data-aos="fade-up" data-aos-delay="100">
      <div class="section-title mt-5">
        <h2>Our Services</h2>
      </div>
      <div class="row">
        <div class="col-lg-6 pt-3 pt-lg-0 content aos-init aos-animate" data-aos="fade-left" data-aos-delay="100">
          <h3>Account Management Services</h3>
          <p> We understand the financial goals of our clients and come up with the right investment strategy to help them meet those goals. Based on our deep understanding of financial markets and expertise in the industry, we assist clients in financial planning, management, and investments besides helping them mitigate risks. </p>
          <p> Through our brokerage service, we assist traders across various financial platforms such as NSE, BSE &MCX with their investments </p>
          <div class=""> <a data-toggle="modal" class="btn_more" href="2.html" data-remote="1.html #modal-section" data-target="#myModal">Apply Now</a> </div>
          
        </div>
        <div class="col-lg-6 video-box align-self-baseline aos-init aos-animate" data-aos="fade-right" data-aos-delay="100"> <img src="assets/img/assets/Account_mgmt_services_pic.svg" class="img-fluid" alt=""> </div>
      </div>
      </div>
      <div class="container aos-init aos-animate" data-aos="fade-up" data-aos="fade-up" data-aos-delay="100">
      <div class="section-title mt-5"> </div>
      <div class="row">
        <div class="col-lg-6 video-box align-self-baseline aos-init aos-animate" data-aos="fade-right" data-aos-delay="100"> <img src="assets/img/assets/education_pic.svg" class="img-fluid" alt=""> </div>
        <div class="col-lg-6 pt-3 pt-lg-0 content aos-init aos-animate" data-aos="fade-left" data-aos-delay="100">
          <h3>Educational Provider</h3>
          <p> We provide education through online and offline certified courses. Quality education is imparted through e-learning, live-streaming sessions, and online study resources. </p>
          <p> Financial courses like MTMP and MPRO Market Technician are strategically designed to help the learners accomplish their goals of professional efficiency and financial literacy. The courses will be held through a customized App called MPRO which will be launched soon for the convenience. </p>
   <div class=""><a data-toggle="modal" class="btn_more" href="2.html" data-remote="1.html #modal-section" data-target="#myModal2">Apply Now</a></div>     </div>
      </div>
      </div>
      <div class="container aos-init aos-animate" data-aos="fade-up" data-aos="fade-up" data-aos-delay="100">
      <div class="section-title mt-5"> </div>
      <div class="row">
        <div class="col-lg-6 pt-3 pt-lg-0 content aos-init aos-animate" data-aos="fade-left" data-aos-delay="100">
          <h3>Tech Solutions </h3>
          <p>Our creative and dexterous Tech team will provide you with the most efficient business solutions that can save time, money and resources. Be it an app that help businesses expand customer base or effective management tools to monitor and analyze a company’s growth, we have them all. </p>
          <p> Our solutions help companies transform themselves and accelerate growth.We also provide customized communication called M-GAGE as per client's requirements for easy and effective communication platform, which can be availed by schools, hospitals, and corporates at a reasonable price. </p>
          <div class=""><a data-toggle="modal" class="btn_more" href="2.html" data-remote="1.html #modal-section" data-target="#myModal3">Apply Now</a></div>
        </div>
        <div class="col-lg-6 video-box align-self-baseline aos-init aos-animate" data-aos="fade-right" data-aos-delay="100"> <img src="assets/img/assets/Tech_pic.svg" class="img-fluid" alt=""> </div>
      </div>
      </div>
    </section>
  </main>
  <!-- End #main --> 