
<!-- ======= Header ======= -->
<header id="header" class="fixed-top services_header">
    <div class="container d-flex align-items-center">
      <h1 class="logo mr-auto"><a routerLink="/home" > <img src="assets/img/logo.png" class="img-fluid" alt=""></a></h1>
      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li><a routerLink="/home" >Home</a></li>
          <li><a routerLink="/services" >Services</a></li>
          <li><a routerLink="/faq" >FAQ</a></li>
          <!--<li><a href="login.html">Log in/Sign Up</a></li>-->
          
          <!--  <li class="drop-down"><a href="">Drop Down</a>
              <ul>
                <li><a href="#">Drop Down 1</a></li>
                <li class="drop-down"><a href="#">Deep Drop Down</a>
                  <ul>
                    <li><a href="#">Deep Drop Down 1</a></li>
                    <li><a href="#">Deep Drop Down 2</a></li>
                    <li><a href="#">Deep Drop Down 3</a></li>
                    <li><a href="#">Deep Drop Down 4</a></li>
                    <li><a href="#">Deep Drop Down 5</a></li>
                  </ul>
                </li>
                <li><a href="#">Drop Down 2</a></li>
                <li><a href="#">Drop Down 3</a></li>
                <li><a href="#">Drop Down 4</a></li>
              </ul>
            </li>-->
          
        </ul>
      </nav>
      <!-- .nav-menu --> 
      
      <!-- <a href="login.html" class="get-started-btn">Log in/Sign Up</a> --></div>
  </header>

  <main id="main">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- ======= Services Section ======= -->
    <section class="align-items-center mt-5" >
    <div class="container" data-aos="fade-up" data-aos-delay="100">
    
    <div class="col-lg-12">
    <div class="form-row">
      <div class="col-md-6 form-group">
        <h5 class="services_title">Select Payment Mothed </h5>
         <input type="radio" id="a" name="Payment" value="" checked> &nbsp;
        <label for="a"> Card Payment </label>
        <br>
         <input type="radio" id="b" name="Payment" value=""> &nbsp;
        <label for="b"> BHIM/UPI </label>
      </div>
      <div class="col-md-6 form-group">
        <div class="registration-form">
          <form>
            <div class="form-group">
              <label>Card Number</label>
              <input type="text" class="form-control item" placeholder="" required>
            </div>
            <div class="form-group">
              <label>Name on Card</label>
              <input type="text" class="form-control item" placeholder="" required>
            </div>
            <div class="form-row">
              <div class="col-xs-4 form-group cvc required">
                <label>CVC</label>
                <input autocomplete="off" class="form-control card-cvc" placeholder="ex. 311" size="4" type="text">
              </div>
              <div class="col-xs-4 form-group expiration required">
                <label>Expiration</label>
                <input class="form-control card-expiry-month" placeholder="MM" size="2" type="text">
              </div>
              <div class="col-xs-4 form-group expiration required">
                <label> </label>
                <input class="form-control card-expiry-year" placeholder="YYYY" size="4" type="text">
              </div>
            </div>
            <div class="form-group">
              <button type="button" class="btn btn-block create-account">Make Payment</button>
            </div>
            <div class="col-xs-4 form-group expiration required">
              <label class="control-label"> Accepted Cards </label>
              <div class="icon-container">&nbsp;&nbsp; <i class="fa fa-cc-visa" style="color:navy;"></i>&nbsp;&nbsp; <i class="fa fa-cc-amex" style="color:blue;"></i> &nbsp;&nbsp;<i class="fa fa-cc-mastercard" style="color:red;"></i> &nbsp;&nbsp;<i class="fa fa-cc-discover" style="color:orange;"></i> </div>
            </div>
          </form>
          <br>
          <br>

          <form>
            <div class="form-group">
              <label class="control-label">UPI ID</label>
              <input type="text" class="form-control item" placeholder="" required>
            </div>
            <div class="form-group">
              <button type="button" class="btn btn-block create-account">Verify</button>
            </div>
          </form>


        </div>
      </div>
    </div></div></div>
    </section>
    <!-- End Sevices Section -->
    
    </main>
    <!-- End #main --> 