
<!-- ======= Header ======= -->
<header id="header" class="fixed-top">
  <div class="container d-flex align-items-center">
    <h1 class="logo mr-auto"><a routerLink="/home" > <img src="assets/img/logo.png" class="img-fluid" alt=""></a></h1>
    <nav class="nav-menu d-none d-lg-block">
      <ul>
        <li class="active"><a routerLink="/home" >Home</a></li>
        <li><a routerLink="/services" >Services</a></li>
        <li><a routerLink="/faq" >FAQ</a></li>
        <!--<li><a href="login.html">Log in/Sign Up</a></li>-->
        
        <!--  <li class="drop-down"><a href="">Drop Down</a>
            <ul>
              <li><a href="#">Drop Down 1</a></li>
              <li class="drop-down"><a href="#">Deep Drop Down</a>
                <ul>
                  <li><a href="#">Deep Drop Down 1</a></li>
                  <li><a href="#">Deep Drop Down 2</a></li>
                  <li><a href="#">Deep Drop Down 3</a></li>
                  <li><a href="#">Deep Drop Down 4</a></li>
                  <li><a href="#">Deep Drop Down 5</a></li>
                </ul>
              </li>
              <li><a href="#">Drop Down 2</a></li>
              <li><a href="#">Drop Down 3</a></li>
              <li><a href="#">Drop Down 4</a></li>
            </ul>
          </li>-->
        
      </ul>
    </nav>
    <!-- .nav-menu --> 
    
    <!-- <a href="login.html" class="get-started-btn">Log in/Sign Up</a> --></div>
</header>
<!-- End Header --> 

<!-- ======= Hero Section ======= -->
<section id="hero" class="align-items-center">
  <div class="container position-relative" data-aos="fade-up" data-aos-delay="100">
    <div class="row justify-content-center">
      <div class="col-xl-9 col-lg-9">
        <h1>Let’s Trade Together.</h1>
        <p>In the recent times, investments in stock markets are gaining increased interest among Indians. There are many who wish to learn more about stock trading and its possibilities.<br>
          <br>
          MaverixPro Ltd lends a helping hand by aiding them in their effort to increase wealth by minimising risks. </p>
      </div>
      <div class="col-xl-3 col-lg-3"> </div>
    </div>
    <div class=""> <a (click)="scrolltwo()" class="btn-get-started scrollto">About MaverixPro</a> </div>
    <div class="clearfix"></div>
    <div class="section-title text-center clearfix mtopbanner">
      <h3>Our Financial Schemes</h3>
    </div>
    <div class="clearfix"></div>
    <div class="row icon-boxes">
      <div class="col-md-4 col-lg-4" data-aos="zoom-in" data-aos-delay="400">
        <div class="icon-box icon-box_one text-center planimg">
          <h5 class="services_title">Alpha</h5>
          <p class="description descriptionp">Does your busy schedule keep you away from trading? <br>
Then it's time to choose plan Alpha from MaverixPro Ltd.</p>
          <div class="">
            <div class="red">Risk</div>
            <h5 class="depends">Upto customer</h5>
          </div>
          <div class="">
            <div class="green">Benefits</div>
            <h5 class="depends">Monthly  : Depends</h5>
            <h5 class="depends">Yearly : Depends</h5>
          </div>
          <div class="">
<a data-toggle="modal" class="btn_more mt-3" href="2.html" data-remote="1.html #modal-section" data-target="#myModal">ENQUIRY</a>
        </div>
        </div>
      </div>
      <div class="col-md-4 col-lg-4" data-aos="zoom-in" data-aos-delay="400">
        <div class="icon-box icon-box_two text-center planimg">
          <h5 class="services_title">Beta</h5>
          <p class="description descriptionp">Do you wish to invest in stock market? Are you looking for a perfect stock broker? Join our Beta programme.</p>
          <div class="">
            <div class="red">Risk</div>
            <h5 class="depends">13%</h5>
          </div>
          <div class="">
            <div class="green">Benefits</div>
            <h5 class="depends">Monthly : 2.5% AVG </h5>
           <h5 class="depends">Yearly : 25% AVG</h5>
          </div>
<div class="">
<a data-toggle="modal"  class="btn_more" href="2.html" data-remote="1.html #modal-section" data-target="#myModal2">ENQUIRY</a>
        </div>        </div>
      </div>
      <div class="col-md-4 col-lg-4" data-aos="zoom-in" data-aos-delay="400">
        <div class="icon-box icon-box_three text-center planimg">
          <h5 class="services_title">Gamma</h5>
          <p class="description descriptionp">Are you thinking of getting involved in trading with low risk? Our Gamma plan is ideal for those who are reluctant to trade on their own.</p>
          <div class="">
            <div class="red">Risk</div>
			  <h5 class="depends">1%</h5>
          </div>
          <div class="">
            <div class="green">Benefits</div>
            <h5 class="depends">Monthly : 2% AVG</h5>
            <h5 class="depends">Yearly : 20% AVG</h5>
          </div>
<div class="">
<a data-toggle="modal" class="btn_more" href="2.html" data-remote="1.html #modal-section" data-target="#myModal3">ENQUIRY</a>
        </div>        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Hero -->
<section id="faq" class="faq section-bg mb-5">
      <div class="container aos-init aos-animate mb-5 pb-5" data-aos="fade-up">
     <h3 align="center">More about our scheme</h3>
        <div class="faq-list">
          <ul>
           
            <li data-aos="fade-up"> <a data-toggle="collapse" class="collapse" href="#faq-list-1" style="padding: 0px">
<h4>Alpha</h4>

 <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-1" class="collapse show" data-parent=".faq-list">
                <p>
Attractive plan for experienced investors. Investment, profit and percentage of risk are to be decided by the investor. Investors can expect a 1:1.5 risk-reward ratio.<br>


Does your busy schedule keep you away from trading? Then it's time to choose plan Alpha from MaverixPro Ltd.
<br><br>


<strong>How does this plan work?</strong><br>

This plan by MaverixPro Ltd. enables investors to take part in stock market. Once you join plan Alpha, you will be provided with all daily stock market updates and advisory. The only thing you have to do is to create a demat account under MaverixPro Ltd. This plan will certainly be a great help in your busy schedule as you don't need to spend time watching daily market updates. Everything needed would be at your fingertips. <br>

We don't charge extra fee for services. Investment, profit and the risk will be as per the interest of the investor. A risk-reward ratio of 1:1.5 can be expected. Only a brokerage fee of 0.5% is charged. The investor can benefit from the free account maintenance for a period of one year.

                </p>         
                 <div> <a href="/openaccount" style="padding-left: 0px !important;">  <button class="btn_more">Register Now</button> </a></div>

              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="100">
             <a data-toggle="collapse" href="#faq-list-2" class="collapsed" style="padding: 0px">
<h4>Beta</h4>

<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-2" class="collapse" data-parent=".faq-list">
                <p>
Best plan for investors with cash in hand and have no idea of dealing with stock market.
<br>

Investors receive a monthly average profit of 2.5% and annual average profit of 24%.
13% default risk is involved.<br>


Do you wish to invest in stock market? Are you looking for a perfect stock broker? Join our Beta programme. We will help you to deal with stock marketing, with a low brokerage charge of 0.5%. <br><br>



<strong>How does this work?</strong><br>

Investors opting for Plan Beta by MaverixPro Ltd require a trading account. An existing account can be transferred to our company or a new account can be created. The company will get involved in trading on getting the investor’s consent. The monthly average profit can be up to 2.5% and the annual average can be up to 24%. 13% default risk is involved in this plan. Account maintenance will be free of cost for one year.
                </p>                <div> <a href="/beta"  style="padding-left: 0px !important;">  <button class="btn_more">Register Now</button> </a></div>

              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="200">
            <a data-toggle="collapse" href="#faq-list-3" class="collapsed " style="padding: 0px">
<h4>Gamma</h4><i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-3" class="collapse" data-parent=".faq-list">
                <p>This plan is a great opportunity to get the preference shares of MaverixPro Ltd.
Least risk is involved. 2% monthly average profit and 20% annual average profit can be gained.<br>


Are you thinking of getting involved in trading with low risk? <br>

Our Gamma plan is ideal for those who are reluctant to trade on their own. The attractive feature of the plan is that the investor gets preference shares of the company.<br><br>



<strong>How does this work?</strong><br>

Fund is directly invested in the company MaverixPro Ltd. The company provides preference shares as return. Through this, the investor gets an opportunity to avail a part of the profit made by the company.
Risk involved in this plan is only 1%. A monthly average profit of 2% and annual average profit of 20% can be expected. Account maintenance is free of cost during the first year.


                </p>                <div> <a href="/gamma"  style="padding-left: 0px !important;">  <button class="btn_more">Register Now</button> </a></div>

              </div>
            </li>

  
          </ul>
        </div>

      </div>
    </section>
<section id="pricing" class="pricing">
  <div class="container aos-init aos-animate" data-aos="fade-up">
    
    <div class="section-title">
      <h5 class="services_title">Benefits Calculator</h5>
      
      <!-- Nav tabs -->
      <ul class="nav nav-tabs md-tabs nav-justified primary-color" role="tablist">
        <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#panel555" role="tab"> <i class="fas fa-user pr-2"></i>Alpha</a> </li>
        <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#panel666" role="tab"> <i class="fas fa-heart pr-2"></i>Beta</a> </li>
        <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#panel777" role="tab"> <i class="fas fa-heart pr-3"></i>Gamma</a> </li>
      </ul>
      <!-- Nav tabs --> 
      
      <!-- Tab panels -->
      <div class="tab-content"> 
        
        <!-- Panel 1 -->
        <div class="tab-pane fade in show active" id="panel555" role="tabpanel"> 
          
          <!-- Nav tabs -->
          <div class="row">
            <div class="col-md-12">
              <section id="pricing" class="pricing">
                <div class="col-lg-12 mt-lg-0">
                  <div class="registration-form">
                    <form>
                      <div class="form-group">
                        <input type="text" class="form-control item" id="username" placeholder="Enter Amout in INR" required="">
                      </div>
                      <div class="form-group">
                        <input type="password" class="form-control item" id="password" placeholder="Enter risk in percentage" required="">
                      </div>
                      <div class="form-group">
                        <button type="button" class="btn btn-block create-account">Calculate</button>
                      </div>
                      <div>
                        <h3 class="green">Benefit</h3>
                        <p>Monthly : <strong  class="benfit">INR 3,500</strong>  Yearly : <strong class="benfit">INR 42,000</strong></p></div>
                    </form>
                  </div>
                </div>
                <div class="col-lg-2 mt-4 mt-lg-0"></div>
              </section>
            </div>
          </div>
          <!-- Nav tabs --> 
          
        </div>
        <!-- Panel 1 --> 
        
        <!-- Panel 2 -->
        <div class="tab-pane fade" id="panel666" role="tabpanel">
          <div class="row">
            <div class="col-md-12">
              <section id="pricing" class="pricing">
                <div class="col-lg-12 mt-lg-0">
                  <div class="registration-form">
                    <form>
                      <div class="form-group">
                        <input type="text" class="form-control item" id="" placeholder="Enter Amout in INR" required="">
                      </div>
                      <div class="form-group">
                        <input type="" class="form-control item" id="" placeholder="13%" required="">
                      </div>
                      <div class="form-group">
                        <button type="button" class="btn btn-block create-account">Calculate</button>
                      </div>
                      <div>
                        <h3 class="green">Benefit</h3>
                        <p>Monthly : <strong  class="benfit">INR 8,500</strong>  Yearly : <strong class="benfit">INR 60,000</strong></p></div>
                    </form>
                  </div>
                </div>
                <div class="col-lg-2 mt-4 mt-lg-0"></div>
              </section>
            </div>
          </div>
        </div>
        <!-- Panel 2 --> 
        
        <!-- Panel 3 -->
        <div class="tab-pane fade" id="panel777" role="tabpanel">
 <div class="row">
            <div class="col-md-12">
              <section id="pricing" class="pricing">
                <div class="col-lg-12 mt-lg-0">
                  <div class="registration-form">
                    <form>
                      <div class="form-group">
                        <input type="text" class="form-control item" id="username" placeholder="Enter Amout in INR" required="">
                      </div>
                      <div class="form-group">
                        <input type="password" class="form-control item" id="password"  placeholder="1%" required="">
                      </div>
                      <div class="form-group">
                        <button type="button" class="btn btn-block create-account">Calculate</button>
                      </div>
                      <div>
                        <h3 class="green">Benefit</h3>
                        <p>Monthly : <strong  class="benfit">INR 2,500</strong>  Yearly : <strong class="benfit">INR 32,000</strong></p></div>
                    </form>
                  </div>
                </div>
                <div class="col-lg-2 mt-4 mt-lg-0"></div>
              </section>
            </div>
          </div>        </div>
        <!-- Panel 3--> 
        
      </div>
      <!-- Tab panels --> 
    </div>
  </div>
</section>

<!-- ======= services Section ======= -->

<section id="services" class="services">
  <div class="container aos-init aos-animate" data-aos="fade-up">
    <div class="section-title">
      <h2>Start trade with us</h2>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6 d-flex align-items-stretch aos-init aos-animate" data-aos="zoom-in" data-aos-delay="100">
        <div class="icon-box iconbox-blue">
          <div class="icon"> <img src="assets/img/assets/1_bulb.svg" class="img-fluid" alt=""> </div>
          <h4><a href=""></a></h4>
          <p>Traders of MaverixPro Ltd, based on their experience in the industry, analyse companies on the basis of their track record and performance.</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0 aos-init aos-animate" data-aos="zoom-in" data-aos-delay="200">
        <div class="icon-box iconbox-orange ">
          <div class="icon"> <img src="assets/img/assets/2_arrow.svg" class="img-fluid" alt=""> </div>
          <h4><a href=""></a></h4>
          <p>The shares, bought with a foresight of three months, are expected to have a growth rate of 15-25% annum. </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0 aos-init aos-animate" data-aos="zoom-in" data-aos-delay="300">
        <div class="icon-box iconbox-pink">
          <div class="icon"> <img src="assets/img/assets/3_withdraw.svg" class="img-fluid" alt=""> </div>
          <h4><a href=""></a></h4>
          <p>The investor is free to withdraw the amount invested in his/her Demat account anytime.</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 aos-init aos-animate" data-aos="zoom-in" data-aos-delay="100">
        <div class="icon-box iconbox-yellow">
          <div class="icon"> <img src="assets/img/assets/4_chat.svg" class="img-fluid" alt=""> </div>
          <h4><a href=""></a></h4>
          <p>Before a buy or sell, the MaverixPro Team communicates with the investor.</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 aos-init aos-animate" data-aos="zoom-in" data-aos-delay="200">
        <div class="icon-box iconbox-red">
          <div class="icon"> <img src="assets/img/assets/5_phone.svg" class="img-fluid" alt=""> </div>
          <h4><a href=""></a></h4>
          <p>The investors can view their account details with the help of an App. </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 aos-init aos-animate" data-aos="zoom-in" data-aos-delay="300">
        <div class="icon-box iconbox-teal">
          <div class="icon"> <img src="assets/img/assets/6_secure.svg" class="img-fluid" alt=""> </div>
          <h4><a href=""></a></h4>
          <p>The investments are SEBI approved, responsibly complying with all the prevailing laws.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ======= About Section ======= -->
<section id="about" class="about">
  <div class="container aos-init aos-animate" data-aos="fade-up">
    <section id="pricing" class="pricing">
      <div class="container aos-init aos-animate" data-aos="fade-up">
        <div class="section-title">
          <h2>Who are we</h2>
          <p>We are a group of enthusiastic, self-motivated young minds redefining the economy and virtual world possibilities. Addressing the concerns of financial instability, we aim to impart knowledge and skills that bring financial literacy and professional efficiency to the global domain. We see our future as a PAN India network with global roots, ensuring financial sustainability. We dedicate ourselves to bring out innovative ideas that will lead us to financial empowerment and boost financial literacy.<br>
<br>


Deviating from all the preconceptions of finance and its management, we are here to give you easier and efficient strategies to manage your money. From hands-on sessions on various financial strategies, tools and tech solutions to trading and managing assets, we are determined to redefine the way the world conceptualizes finance and its management.
</p>
        </div>
        <div class="section-title">
          <h2>Our Vision & Mission</h2>
          <p>We firmly believe that we have what it takes to be one of the industry leaders in the field of both Financial Education and Technology. We aim at building a self-sufficient community of professionals across the world through our various ventures. We are focused on providing world-class and cost-effective online education to all, regardless of age, gender or region, for we understand the importance of education in modelling a better future.</p>
        </div>
        <div class="section-title">
          <h2>What we do</h2>
          <p>Enabling the present and future generation to understand and explore the FinTech industry, MaverixPro Ltd focuses on both the affordable study as well as the finest practices of various financial tools that enable an individual conquer the dream of financial stability. Our most exclusive array of solutions include:</p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-6 aos-init aos-animate" data-aos="zoom-im" data-aos-delay="100">
          <div class="box"> <img src="assets/img/assets/education_icon.svg" class="img-fluid  m-auto " alt="">
            <h3>Education</h3>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 aos-init aos-animate" data-aos="zoom-im" data-aos-delay="100">
          <div class="box"> <img src="assets/img/assets/acc_mgmt_icon.svg" class="img-fluid  m-auto " alt="">
            <h3>Account Management
              Services</h3>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 aos-init aos-animate" data-aos="zoom-im" data-aos-delay="100">
          <div class="box"> <img src="assets/img/assets/tech_icon.svg" class="img-fluid  m-auto " alt="">
            <h3>Tech Solutions</h3>
          </div>
        </div>
        <div class="col-lg-12 col-md-12 aos-init aos-animate" data-aos="zoom-im" data-aos-delay="100">
          <div class="text-center">
            <div class=""> <a routerLink="/services"  class="btn_more">Learn more</a> </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</section>
<!-- End About Section -->

<section id="cta" class="cta2">
  <div class="row icon-boxes">
    <div class="col-md-6 col-lg-6 m-autoaos-animate ctaimg" data-aos="zoom-in" data-aos-delay="400"> <img src="assets/img/assets/Grouptm.svg" class="img-fluid  m-auto " alt=""> </div>
    <div class="col-md-6 col-lg-6 m-auto aos-animate" data-aos="zoom-in" data-aos-delay="400">
      <div class="row">
        <div class="col-xl-3 col-lg-3"> </div>
        <div class="col-xl-9 col-lg-9">
          <h3>Mobile Apps</h3>
          <p>Our trading app will be available soon.</p>
          <br>
          <a href="#" class="mt-3 apptop"><img src="assets/img/assets/Group633.svg" class="img-fluid  m-auto " alt=""></a> <a href="#" class="mt-3 apptop"><img src="assets/img/assets/Group634.svg" class="img-fluid  m-auto " alt=""></a> </div>
      </div>
    </div>
  </div>
</section>
