
<!-- ======= Header ======= -->
<header id="header" class="fixed-top services_header">
  <div class="container d-flex align-items-center">
    <h1 class="logo mr-auto"><a routerLink="/home" > <img src="assets/img/logo.png" class="img-fluid" alt=""></a></h1>
    <nav class="nav-menu d-none d-lg-block">
      <ul>
        <li><a routerLink="/home" >Home</a></li>
        <li><a routerLink="/services" >Services</a></li>
        <li class="active"><a routerLink="/faq" >FAQ</a></li>
        <!--<li><a href="login.html">Log in/Sign Up</a></li>-->
        
        <!--  <li class="drop-down"><a href="">Drop Down</a>
            <ul>
              <li><a href="#">Drop Down 1</a></li>
              <li class="drop-down"><a href="#">Deep Drop Down</a>
                <ul>
                  <li><a href="#">Deep Drop Down 1</a></li>
                  <li><a href="#">Deep Drop Down 2</a></li>
                  <li><a href="#">Deep Drop Down 3</a></li>
                  <li><a href="#">Deep Drop Down 4</a></li>
                  <li><a href="#">Deep Drop Down 5</a></li>
                </ul>
              </li>
              <li><a href="#">Drop Down 2</a></li>
              <li><a href="#">Drop Down 3</a></li>
              <li><a href="#">Drop Down 4</a></li>
            </ul>
          </li>-->
        
      </ul>
    </nav>
    <!-- .nav-menu --> 
    
    <!-- <a href="login.html" class="get-started-btn">Log in/Sign Up</a> --></div>
</header>
<main id="main">
    <section id="about-video" class="about-video">
      <div class="container aos-init aos-animate" data-aos="fade-up" data-aos="fade-up" data-aos-delay="100">
      <div class="section-title mt-5">
        <h2>DISCLAIMER</h2>
      </div>
      <div class="row">
        <div id="Content">
          <div class="content_wrapper clearfix">
            <div class="sections_group">
              <div class="entry-content" itemprop="mainContentOfPage">
                <div class="section the_content has_content">
                  <div class="section_wrapper">
                    <div class="the_content_wrapper">
                      <p>The information provided by&nbsp;Maverixpro&nbsp;on&nbsp;maverixpro.com and our mobile application&nbsp;is for the educational and business informational purposes. All information on the Site&nbsp;maverixpro.com&nbsp;is provided in good faith, however we make no representation or warranty of any kind, express or implied, regarding the accuracy, adequacy, validity, reliability, availability or completeness of any information on the Site&nbsp;Maverixpro.</p>
                      <p>Under no circumstance shall we have any liability to you for any loss or damage of any kind incurred as a result of the use of the site&nbsp;maverixpro.com&nbsp;or reliance on any information provided on the site&nbsp;Maverixpro mobile application. Your use of the site and your reliance on any information on the site Maverixpro.com&nbsp;is solely at your own risk.</p>
                    </div>
                  </div>
                </div>
                <div class="section section-page-footer">
                  <div class="section_wrapper clearfix">
                    <div class="column one page-pager"> </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
    </section>
  </main>